<section class="section is-small">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <!--Nav and article control-->
        <nav>
          <div class="field is-grouped">
            <p class="control">
              <a class="button" target="_blank" href="{{article.link}}">
                <span class="icon">
                  {{ui/-icon 'open_in_new'}}
                </span>
                <span>Link</span>
              </a>
            </p>

            {{#if currentUser}}
              {{article/watch-button article=article watch=(action '_watchArticle' article)}}
              {{article/sell-button  article=article sell=(pipe-action (action '_sellArticle' article)
                                                                       (toast 'Congratulation!' 'success'))}}
            {{/if}}
          </div>
        </nav>
      </div>
      <div class="column is-half">
      </div>
    </div>

    <div class="columns">
      <div class="column is-8">
        <div class="columns">
          <div class="column is-12 has-text-centered">
            <p class="heading">Price</p>
          </div>
        </div>
        <div class="columns has-text-right">
          <div class="column is-half">
            <p class="title is-1">
              {{ui/-money article.price 'cad'}}
            </p>
          </div>
          <div class="column is-half">
            <p class="title is-1">
              {{ui/-money article.price 'jpy'}}
            </p>
          </div>
        </div>

        <div class="columns">
          <div class="column is-12">
            <!--Tabs-->
            <!--Article panel-->
            <div class="tabs is-left">
              <ul>
                {{#if currentUser}}
                  {{#link-to 'articles.article.article-index.information' article.id tagName='li' activeClass='is-active'}}
                    {{#link-to 'articles.article.article-index.information' article.id}}
                      <span class="icon is-medium">
                        {{ui/-icon 'info_outline'}}
                      </span>
                      <span class="is-hidden-mobile">
                      Information
                    </span>
                    {{/link-to}}
                  {{/link-to}}

                  {{#link-to 'articles.article.article-index.history' article.id tagName='li' activeClass='is-active'}}
                    {{#link-to 'articles.article.article-index.history' article.id}}
                      <span class="icon is-medium">
                        {{ui/-icon 'history'}}
                      </span>
                      <span class="is-hidden-mobile">
                      Transaction History
                    </span>
                    {{/link-to}}
                  {{/link-to}}
                {{/if}}
              </ul>
            </div>

            {{!--Tab outlet--}}
            {{outlet}}
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card is-fullwidth">
          <header class="card-header">
            <p class="card-header-title">
              {{article.merchant.name}}
            </p>
          </header>

          <!--Article description-->
          <div class="card-content is-small">
            <div class="content is-medium">
              {{article.description}}
            </div>
          </div>

          <!--Article price line-->
          <footer class="card-footer">
            <div class="card-footer-item">
              <div class="level-item price-history">
                <!--Because the computed property is lazy, use `with` guard to pass empty array initially-->
                {{#with article.sortedPriceHistory}}
                  {{ui/sparkline/-line data=(map-by 'price' article.sortedPriceHistory)}}
                {{/with}}
              </div>
            </div>
          </footer>
        </div>

        <!--Article price table-->
        <table class="table is-bordered is-narrow is-striped mt-2 is-fullwidth">
          <thead>
          <tr>
            <th><abbr class="is-size-5" title="Time">Time</abbr></th>
            <th><abbr class="is-size-5" title="Price">Price</abbr></th>
          </tr>
          </thead>
          <tbody>
          {{#each article.sortedPriceHistory as |priceHistory|}}
            <tr>
              <td>{{moment-format priceHistory.timestamp 'MMM-D-YYYY'}}</td>
              <td>{{ui/-money priceHistory.priceAmount showCode=false}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!--Similar articles-->
<section class="section is-small">
  <div class="container">
    <div class="is-divider" data-content="Similar Articles"></div>

    <div class="title is-3 has-text-right">Similar</div>
    <div class="columns">
      {{#each (await articleRelateds) as |article|}}

        <!--Mobile list-->
        <div class="column is-2 is-hidden-tablet">
          <p class="content is-size-5 is-capitalized">
            {{#link-to 'articles.article.article-index' article.id}}
              {{capitalize article.name}}
            {{/link-to}}
          </p>
          <span class="tag is-light is-medium">
            {{ui/-money article.price 'cad' showCode=false}}
          </span>
        </div>

        <!--Tablet desktop card-->
        <div class="column is-2 is-hidden-mobile">
          <div class="card">
            <div class="card-header">
              <p class="card-header-title is-capitalized">
                {{article.name}}
              </p>
            </div>
            <div class="card-content padding-1">
              <p class="title is-6 has-text-right">
                <span class="tag is-light is-medium is-size-5">
                  {{ui/-money article.price 'cad' showCode=false}}
                </span>
              </p>
            </div>
            <div class="card-footer">
              <div class="card-footer-item">
                {{#link-to 'articles.article.article-index' article.id}}View{{/link-to}}
              </div>
            </div>
          </div>
        </div>
      {{else}}
        <div class="column is-12">
          <p class="has-text-right">
            Not Available
          </p>
        </div>
      {{/each}}
    </div>
  </div>
</section>
