<section class="section is-small">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <!--Nav and article control-->
        <nav>
          <div class="field is-grouped">
            <p class="control">
              <a class="button" target="_blank" href="{{article.link}}">
                <span class="icon">
                  {{ui/-icon 'link'}}
                </span>
                <span>Link</span>
              </a>
            </p>

            {{#if currentUser}}
              {{article/watch-button article=article watch=(action '_watchArticle' article)}}
              {{article/sell-button  article=article sell=(pipe-action (action '_sellArticle' article)
                                                                       (toast 'Congratulation!' 'success'))}}
            {{/if}}
          </div>
        </nav>
      </div>
      <div class="column is-half">
      </div>
    </div>

    <div class="columns">
      <div class="column is-8">
        <div class="columns">
          <div class="column is-12 has-text-centered">
            <p class="heading">Price</p>
          </div>
        </div>
        <div class="columns is-mobile">
          <div class="column is-half">
            <p class="title is-1">
              {{ui/-money article.price 'cad'}}
            </p>
          </div>
          <div class="column is-half">
            <p class="title is-1">
              {{ui/-money article.price 'jpy'}}
            </p>
          </div>
        </div>

        <div class="columns">
          <div class="column is-12">
            <!--Tabs-->
            <!--Article panel-->
            <div class="tabs is-left">
              <ul>
                {{#if currentUser}}
                  {{#link-to 'articles.article.index.information' article.id tagName='li' activeClass='is-active'}}
                    {{#link-to 'articles.article.index.information' article.id}}
                      <span class="icon is-medium">
                        {{ui/-icon 'info_outline'}}
                      </span>
                      <span class="is-hidden-mobile">
                      Information
                    </span>
                    {{/link-to}}
                  {{/link-to}}

                  {{#link-to 'articles.article.index.history' article.id tagName='li' activeClass='is-active'}}
                    {{#link-to 'articles.article.index.history' article.id}}
                      <span class="icon is-medium">
                        {{ui/-icon 'history'}}
                      </span>
                      <span class="is-hidden-mobile">
                      Transaction History
                    </span>
                    {{/link-to}}
                  {{/link-to}}
                {{/if}}
              </ul>
            </div>

            {{!--Tab outlet--}}
            {{outlet}}
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card is-fullwidth">
          <header class="card-header"></header>
          <div class="card-content">
            <div class="content is-medium">
              {{article.description}}
            </div>
          </div>

          <footer class="card-footer">
            <div class="card-footer-item">
              <div class="level-item price-history">
                {{ui/sparkline/-line data=(map-by 'price' (sort-by 'createdAt:desc' article.priceHistory))}}
              </div>
            </div>
          </footer>
          <footer class="card-footer">
            <table class="table is-bordered is-narrow is-striped mt-2 is-fullwidth">
              <tbody>
              {{#if article.priceSummary.max}}
                <tr>
                  <td><b>Highest</b></td>
                  <td>${{article.priceSummary.max.price}}</td>
                  <td>{{moment-from-now article.priceSummary.max.seenAt}}</td>
                </tr>
              {{/if}}

              {{#if article.priceSummary.min}}
                <tr>
                  <td><b>Lowest</b></td>
                  <td>${{article.priceSummary.min.price}}</td>
                  <td>{{moment-from-now article.priceSummary.min.seenAt}}</td>
                </tr>
              {{/if}}
              </tbody>
            </table>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Similar articles-->
<section class="section is-small">
  <div class="container">
    <hr>
    <div class="title is-3 has-text-right">Similar</div>
    <div class="columns">
      {{#each (await articleRelateds) as |article|}}
        <!--Mobile list-->
        <div class="column is-2 is-hidden-tablet has-text-right">
          <p class="title is-5">
            {{#link-to 'articles.article.index' article.id}}
              {{capitalize article.name}} - {{ui/-money article.price 'cad' showCode=false}}
            {{/link-to}}
          </p>
        </div>
        <!--Tablet desktop card-->
        <div class="column is-2 is-hidden-mobile">
          <div class="card">
            <div class="card-header">
              <p class="card-header-title">
                {{ui/-money article.price 'cad' showCode=false}}
              </p>
            </div>
            <div class="card-content padding-1">
              <p class="title is-6">{{article.name}}</p>
            </div>
            <div class="card-footer">
              <div class="card-footer-item">
                {{#link-to 'articles.article.index' article.id}}View{{/link-to}}
              </div>
            </div>
          </div>
        </div>
      {{else}}
        <div class="column is-12">
          <p class="has-text-right">
            Not Available
          </p>
        </div>
      {{/each}}
    </div>
  </div>
</section>
