<section class="section is-small">
  <div class="container">
    <!--Nav and article control-->
    <nav>
      <div class="field is-grouped">
        <p class="control">
          <a class="button" target="_blank" href="{{article.link}}">
            <span class="icon is-small">{{fa-icon 'globe'}}</span>
            <span>Link</span>
          </a>
        </p>

        {{#if currentUser}}
          {{article/watch-button article=article watch=(action '_watchArticle' article)}}
          {{article/sell-button  article=article sell=(pipe-action (action '_sellArticle' article)
                                                                   (action '_toast' 'Congratulation!'))}}
        {{/if}}
      </div>
    </nav>
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="columns is-row-reverse">
      <!--Price panel right side-->
      <div class="column is-4">
        <div class="columns">
          <div class="card is-fullwidth">
            <header class="card-header">
              <p class="card-header-title title is-4 is-capitalize is-flex-justify-content-flex-end">
                {{article.name}}
              </p>
            </header>

            <!--Last indexed at-->
            <div class="card-header">
              <p class="card-header-title">
                {{#if (eq article.health 1)}}
                  <span class="tag is-success">Indexed {{moment-from-now article.syncedAt}}</span>
                {{else}}{{#if (eq article.health 2)}}
                  <span class="tag is-warning">Indexed {{moment-from-now article.syncedAt}}</span>
                {{else}}{{#if (eq article.health 3)}}
                  <span class="tag is-danger">Indexed {{moment-from-now article.syncedAt}}</span>
                {{else}}{{#if (eq article.health 4)}}
                  <span class="tag">Indexed {{moment-from-now article.syncedAt}}</span>
                {{else}}
                  <span class="tag">Never Indexed</span>
                {{/if}}{{/if}}{{/if}}{{/if}}
              </p>
            </div>

            <!--Created at-->
            <div class="card-header">
              <p class="card-header-title">
                <span class="tag">
                  Created {{moment-from-now article.createdAt}}
                </span>
              </p>
            </div>

            <div class="card-content">
              <div class="content is-medium">
                {{article.description}}
              </div>
            </div>

            <footer class="card-footer">
              <div class="card-footer-item">
                <p class="title is-4">
                  {{ui/-money article.price 'cad' showCode=true}}
                </p>
              </div>
              <div class="card-footer-item">
                <p class="title is-4">
                  {{ui/-money article.price 'jpy' showCode=true}}
                </p>
              </div>
            </footer>
            <footer class="card-footer">
              <div class="card-footer-item">
                <div class="level-item price-history">
                  {{ui/sparkline/-line data=(map-by 'price' (sort-by 'createdAt' article.priceHistory.history))}}
                </div>
              </div>
            </footer>
            <footer class="card-footer">
              <table class="table is-bordered is-narrow is-striped mt-2 is-fullwidth">
                <tbody>
                {{#if article.priceSummary.max}}
                  <tr>
                    <td><b>Highest</b></td>
                    <td>${{article.priceSummary.max.price}}</td>
                    <td>{{moment-from-now article.priceSummary.max.seenAt}}</td>
                  </tr>
                {{/if}}

                {{#if article.priceSummary.min}}
                  <tr>
                    <td><b>Lowest</b></td>
                    <td>${{article.priceSummary.min.price}}</td>
                    <td>{{moment-from-now article.priceSummary.min.seenAt}}</td>
                  </tr>
                {{/if}}
                </tbody>
              </table>
            </footer>
          </div>
        </div>
      </div>

      <!--Tabs-->
      <!--Article panel-->
      {{#if currentUser}}
        <div class="column is-8">
          <div class="tabs is-left">
            <ul>
              {{#link-to 'articles.article.index.information' article.id tagName='li' activeClass='is-active'}}
                {{#link-to 'articles.article.index.information' article.id}}
                  <span class="icon">{{fa-icon 'info'}}</span>
                  <span>Information</span>
                {{/link-to}}
              {{/link-to}}

              {{#link-to 'articles.article.index.history' article.id tagName='li' activeClass='is-active'}}
                {{#link-to 'articles.article.index.history' article.id}}
                  <span class="icon">{{fa-icon 'history'}}</span>
                  <span>Transaction History</span>
                {{/link-to}}
              {{/link-to}}
            </ul>
          </div>

          {{outlet}}
        </div>
      {{/if}}

    </div>
  </div>
</section>

<!--Related articles-->
<section class="section">
  <div class="container">
    <hr>
    <div class="title is-3 has-text-right">Related</div>
    <div class="columns">
      {{#each articleRelateds as |article|}}
        <div class="column is-2">
          <div class="card">
            <div class="card-header">
              <p class="card-header-title">
                {{ui/-money article.price 'cad' showCode=false}}
              </p>
            </div>
            <div class="card-content padding-1">
              <p class="title is-6">{{article.name}}</p>
            </div>
            <div class="card-footer">
              <div class="card-footer-item">
                {{#link-to 'articles.article.index' article.id}}View{{/link-to}}
              </div>
            </div>
          </div>
        </div>
      {{else}}
        <div class="column is-12">
          <p class="has-text-right">
            Not Available
          </p>
        </div>
      {{/each}}
    </div>
  </div>
</section>
