<section class="section is-small">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        {{#link-to 'articles.article.index' article.id class='button is-light'}}Back{{/link-to}}
      </div>
      <div class="column is-half">
        <p class="title is-4 is-capitalize has-text-right">
          {{article.name}}
        </p>
        <p class="subtitle is-6 has-text-right">
          Sold {{moment-from-now articleSold.createdAt}}
        </p>
      </div>
    </div>

    <hr>

    <div class="columns">
      <!--Article price-balance sheet-->
      <div class="column is-half">
        <div class="columns">
          <div class="column is-4">
            <label class="label">Article Price</label>
          </div>
          <div class="column is-8">
            <div class="columns is-mobile">
              <div class="column is-6">
                <span class="is-red">
                  ({{ui/-money articleSold.price 'jpy' showCode=false}})
                </span>
              </div>
              <div class="column is-6">
                {{ui/-money articleSold.price showCode=false}} @ {{ui/-money oneDollar 'jpy' showCode=false}}
              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-4">
            <label class="label">With Sales Tax</label>
          </div>
          <div class="column is-8">
            <div class="columns is-mobile">
              <div class="column is-6">
                <span class="is-red">
                  ({{ui/-money articleSoldPriceWithSaleTax 'jpy' showCode=false}})
                </span>
              </div>
              <div class="column is-6">
                {{ui/-money articleSoldPriceWithSaleTax showCode=false}} @ {{saleTaxPct}}%
              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-4">
            <label class="label">Sold Price</label>
          </div>
          <div class="column is-8">
            <div class="columns is-mobile">
              <div class="column is-6">
                <span class="is-green">
                  {{ui/-money articleSold.soldPrice 'jpy' showCode=false}}
                </span>
              </div>
              <div class="column is-6">
                <div class="field has-addons">
                  <p class="control has-icons-left">
                    {{input class='input has-text-right'
                            classBinding='allowEditArticleSoldPrice:is-success'
                            value=articleSold.soldPrice.amount
                            disabled=(not allowEditArticleSoldPrice)
                            type='number'}}
                    <span class="icon is-left">
                      {{fa-icon 'jpy'}}
                    </span>
                  </p>
                  <p class="control">
                    {{#if allowEditArticleSoldPrice}}
                      <button class="button is-success is-outlined" {{action (toggle 'allowEditArticleSoldPrice' this)}}>
                        <span class="icon">
                          {{fa-icon 'toggle-on'}}
                        </span>
                      </button>
                    {{else}}
                      <button class="button is-danger is-outlined" {{action (toggle 'allowEditArticleSoldPrice' this)}}>
                        <span class="icon">
                          {{fa-icon 'toggle-off'}}
                        </span>
                      </button>
                    {{/if}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <!--Profit-->
        <div class="columns">
          <div class="column is-4">
            <label class="label">Profit</label>
          </div>
          <div class="column is-8">
            <div class="columns is-mobile">
              <div class="column is-6">
                {{#if (lte profit.amount 0)}}
                  <span class="is-red title is-5">
                    ({{ui/-money profit 'jpy' showCode=false}})
                  </span>
                {{else}}
                  <span class="is-green title is-5">
                    {{ui/-money profit 'jpy' showCode=false}}
                  </span>
                {{/if}}
              </div>
              <div class="column is-6">
                {{priceMarginPct}}%
              </div>
            </div>
          </div>
        </div>

        <!--Buyma cut-->
        <div class="columns">
          <div class="column is-4">
            <label class="label">Buyma Cut</label>
          </div>
          <div class="column is-8">
            <div class="columns is-mobile">
              <div class="column is-6">
                <span class="is-red">
                  ({{ui/-money buymaCut 'jpy' showCode=false}})
                </span>
              </div>
              <div class="column is-6">
                @ {{buymaCutPct}}%
              </div>
            </div>
          </div>
        </div>


        <!--Shipping Services-->
        {{#each articleSoldShippingServices as |shippingService index|}}
          <div class="columns">
            {{#if (eq index 0)}}
              <div class="column is-4">
                <label class="label">Shipping Costs</label>
              </div>
            {{else}}
              <div class="column is-4"></div>
            {{/if}}
            <div class="column is-8">
              <div class="columns is-mobile">
                <div class="column is-6">
                  <span class="is-red">
                    ({{ui/-money shippingService.rate 'jpy' showCode=false}})
                  </span>
                </div>
                <div class="column is-6">
                  <div class="media">
                    <div class="media-left">
                      {{#ui/form/-async-button class='button is-danger is-small'
                                               action=(action '_removeShippingService' shippingService)}}
                        <span class="icon is-small">
                          {{fa-icon 'minus-circle'}}
                        </span>
                      {{/ui/form/-async-button}}
                    </div>
                    <div class="media-content">
                      <span class="is-capitalize">
                        {{shippingService.serviceName}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{else}}
          <div class="columns">
            <div class="column is-4">
              <label class="label">Shipping Costs</label>
            </div>
            <div class="column is-8">
              <div class="columns is-mobile">
                <div class="column is-6">
                  -
                </div>
                <div class="column is-6"></div>
              </div>
            </div>
          </div>
        {{/each}}
        <hr>

        <!--Total Earned-->
        <div class="columns">
          <div class="column is-4">
            <label class="label">Total Earned</label>
          </div>
          <div class="column is-8">
            <div class="columns is-mobile">
              <div class="column is-6">
                {{#if (lte totalEarned.amount 0)}}
                  <span class="is-red title is-5">
                    ({{ui/-money totalEarned 'jpy' showCode=false}})
                  </span>
                {{else}}
                  <span class="is-green title is-5">
                    {{ui/-money totalEarned 'jpy' showCode=false}}
                  </span>
                {{/if}}
              </div>
              <div class="column is-6">
                {{#if (lte totalEarned.amount 0)}}
                  <span class="is-red title is-5">
                    ({{ui/-money totalEarned 'cad' showCode=false}})
                  </span>
                {{else}}
                  <span class="is-green title is-5">
                    {{ui/-money totalEarned 'cad' showCode=false}}
                  </span>
                {{/if}}
              </div>
            </div>
          </div>
        </div>

        <hr>
        <div class="columns">
          <div class="column">
            <p class="control is-grouped">
              {{!--
              {{#ui.form.-async-button class='button is-danger'
                                       action=(action '_deleteArticleSold')}}
                <span class="icon">
                  {{fa-icon 'trash-o'}}
                </span>
                <span>Delete</span>
              {{/ui.form.-async-button}}
              --}}

              {{#ui/form/-async-button class='button is-success'
                                       action=(pipe-action (action '_saveArticleSold')
                                                           (toast 'Sold article is saved.' 'success')
                                                           (disable 'allowEditArticleSoldPrice' this))}}
                <span class="icon">
                  {{fa-icon 'floppy-o'}}
                </span>
                <span>Save</span>
              {{/ui/form/-async-button}}
            </p>
          </div>
        </div>

        <div class="columns">
          <div class="column is-4">
            <label class="label">Buyer</label>
          </div>
        </div>
        <div class="columns">
          <div class="column is-12">
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Name</label>
              </div>
              <div class="field-body">
                <div class="field is-grouped">
                  <p class="control is-expanded has-icons-left">
                    <input type="text" class="input" placeholder="Name">
                    <span class="icon is-small is-left">
                      {{fa-icon 'user'}}
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Email</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input type="email" class="input" placeholder="Email Address">
                    <span class="icon is-small is-left">
                      {{fa-icon 'envelope'}}
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half">
        <div class="columns">
          <div class="column">

            <div class="card">
              <div class="card-footer">
                <div class="card-footer-item">
                  <p class="title is-4">
                    {{ui/-money articleSold.soldPrice 'cad'}}
                  </p>
                </div>
                <div class="card-footer-item">
                  <p class="title is-4">
                    {{ui/-money articleSold.soldPrice 'jpy'}}
                  </p>
                </div>
              </div>
            </div>

            <div class="card">

              <!--Shipping services-->
              <footer class="card-footer">
                <div class="card-footer-item">
                  <div class="field is-horizontal is-fullwidth">
                    <div class="field-label">
                      <label class="label">Shipping</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <span class="select">
                            {{#ui/form/-select content=allShippingServices
                                               prompt='Shipping Services'
                                               selection=selectShippingService
                                               action=(action '_assignSelectShippingService') as |shippingService|}}
                              {{#if (contains shippingService.id articleSoldShippingServiceIds)}}
                                <option disabled value="{{shippingService.id}}">
                                  {{capitalize shippingService.serviceName}}
                                </option>
                              {{else}}
                                <option value="{{shippingService.id}}">
                                  {{capitalize shippingService.serviceName}}
                                </option>
                              {{/if}}
                            {{/ui/form/-select}}
                          </span>
                        </div>
                        <p class="help">Nothing fit? <a>Add more shipping options</a>.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </footer>

              <!--Selected shipping service-->
              {{#with selectShippingService as |service|}}
                <div class="card-content padding-1">
                    <div class="field is-horizontal is-fullwidth">
                      <div class="field-label"><label class="label"></label></div>
                      <div class="field-body">
                        <p class="control is-capitalize">
                          {{service.serviceName}}
                        </p>
                      </div>
                    </div>
                    <div class="field is-horizontal is-fullwidth">
                      <div class="field-label is-flex-grow-3"><label class="label">Rate</label></div>
                      <div class="field-body">
                        <p class="control title is-5">
                          {{ui/-money service.rate}}
                        </p>
                      </div>
                    </div>
                    <div class="field is-horizontal is-fullwidth">
                      <div class="field-label is-flex-grow-3"><label class="label">Weight</label></div>
                      <div class="field-body">
                        <p class="control">
                          {{service.weightInKg}} Kg
                        </p>
                      </div>
                    </div>
                    <div class="field is-horizontal is-fullwidth">
                      <div class="field-label is-flex-grow-3"><label class="label">Arrive In Days</label></div>
                      <div class="field-body">
                        <p class="control">
                          {{service.arriveInDays}} Days
                        </p>
                      </div>
                    </div>
                    <div class="field is-horizontal is-fullwidth">
                      <div class="field-label is-flex-grow-3"><label class="label">Is Tracked?</label></div>
                      <div class="field-body">
                        <p class="control">
                          {{input type='checkbox' disabled=true name='tracked' checked=service.tracked}}
                        </p>
                      </div>
                    </div>
                    <div class="field is-horizontal is-fullwidth">
                      <div class="field-label is-flex-grow-3"></div>
                      <div class="field-body">
                        <p class="control">
                          {{#ui/form/-async-button class='button is-success'
                                                   action=(action '_addShippingService')}}
                            <span class="icon">
                              {{fa-icon 'plus-circle'}}
                            </span>
                            <span>Add shipping</span>
                          {{/ui/form/-async-button}}
                        </p>
                      </div>
                    </div>
                </div>
              {{/with}}

              <!--Margin options-->
              <footer class="card-footer">
                <div class="card-footer-item">
                  <div class="field is-horizontal is-fullwidth">
                    <div class="field-label">
                      <label class="label">Profit Margins</label>
                    </div>
                    <div class="field-body">
                      <div class="field is-grouped">
                        <p class="control">
                          <a class="button is-primary is-outlined">10%</a>
                          <a class="button is-primary is-outlined">20%</a>
                          <a class="button is-primary is-outlined">30%</a>
                          <a class="button is-primary is-outlined">40%</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </footer>

              <!--Sold article actions-->
              <footer class="card-footer">
                <div class="card-footer-item">
                  {{#ui/form/-async-button tagName='a'
                                           action=(pipe-action (action '_saveArticleSold')
                                                               (toast 'Sold article is saved.' 'success')
                                                               (disable 'allowEditArticleSoldPrice' this))}}
                    <span class="icon">{{fa-icon 'floppy-o'}}</span>
                    <span>Save</span>
                  {{/ui/form/-async-button}}
                </div>
              </footer>
            </div>

          </div>
        </div>

        <div class="columns">
          <div class="column">
            <p class="title is-6">Price</p>
            <div class="card">
              <div class="card-footer">
                <div class="card-footer-item">
                  <p class="title is-4">
                    {{ui/-money articleSold.price}}
                  </p>
                </div>
                <div class="card-footer-item">
                  <p class="title is-4">
                    {{ui/-money articleSold.price 'jpy'}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{log 'article' article}}
        <div class="columns">
          <div class="column">
            <p class="title is-6">Current Price</p>
            <div class="card">
              <div class="card-footer">
                <div class="card-footer-item">
                  <p class="title is-4">
                    {{ui/-money article.price}}
                  </p>
                </div>
                <div class="card-footer-item">
                  <p class="title is-4">
                    {{ui/-money article.price 'jpy'}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="level">
              {{#each-in articleSoldStatuses as |status happenedAt|}}
                <div class="level-item has-text-centered">
                  <div>
                <span class="tag is-medium {{if (eq status articleSold.status) 'is-success'}}">
                  <p class="is-capitalize">{{status}}</p>
                </span>
                    {{#if happenedAt}}
                      <p class="title is-5 is-uppercase mt-1">
                        {{moment-format happenedAt 'MMM-D-YYYY'}}
                      </p>
                      <p class="title is-6 is-uppercase">
                        {{moment-format happenedAt 'HH:mm'}}
                      </p>
                    {{/if}}
                  </div>
                </div>
              {{/each-in}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
