<section class="hero is-{{style}} is-hidden-mobile">
  <div class="hero-body">
    <div class="container">
      <p class="title">
        {{yield}}
      </p>
    </div>
  </div>
</section>
<section class="section is-small is-hidden-tablet">
  {{#if (hasBlock "inverse")}}
    {{yield to="inverse"}}
  {{else}}
    <div class="container">
      <p class="title is-3">
        {{yield}}
      </p>
      <hr>
    </div>
  {{/if}}
</section>
