{{#if prompt}}
  <option value disabled={{disablePrompt}} selected={{is-not _selection}}>
    {{prompt}}
  </option>
{{/if}}
{{#each content key="@identity" as |item|}}
  {{#if hasBlock}}
    {{yield item _selection}}
  {{else}}
    <option value="{{get item optionValuePath}}"
            selected={{is-equal item _selection}}>
      {{get item optionLabelPath}}
    </option>
  {{/if}}
{{/each}}
