<div class="columns">
  <div class="column is-12">
    <!--Article watched-->
    {{#if articleWatched}}
      <article class="media">
        <div class="media-left">
          <span class="icon is-medium">
            {{ui/-icon 'loyalty' class='is-red'}}
          </span>
        </div>
        <div class="media-content">
          <div class="content">
            <p class="title is-4 is-capitalize">
              {{moment-from-now articleWatched.createdAt}}
            </p>
            <p class="subtitle is-6">
              {{moment-format articleWatched.createdAt 'LL'}}
            </p>
            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Notification Criteria</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded">
                    <span class="select is-fullwidth">
                      {{#ui/form/-select content=allArticleNotificationCriteria
                                         prompt='Notification Criteria'
                                         optionValuePath='id'
                                         optionLabelPath='name'
                                         selection=selectArticleNotificationCriterium
                                         action=(action '_assignSelectArticleNotificationCriterium') as |articleNotificationCriterium|}}
                        {{#if (contains articleNotificationCriterium.id articleWatchedNotificationCriteriumIds)}}
                          <option disabled value="{{articleNotificationCriterium.id}}">
                            {{capitalize articleNotificationCriterium.name}}
                          </option>
                        {{else}}
                          <option value="{{articleNotificationCriterium.id}}">
                            {{capitalize articleNotificationCriterium.name}}
                          </option>
                        {{/if}}
                      {{/ui/form/-select}}
                    </span>
                  </div>
                  <p class="help">Nothing fit? <a>Add more article watch criterium options</a>.</p>
                </div>
                <div class="field">
                  <div class="control">
                    {{#ui/form/-async-button class='button'
                                             textState='is-light'
                                             action=(action '_addArticleNotificationCriterium')}}
                      <span class="icon">
                        {{fa-icon 'plus-circle'}}
                      </span>
                      <span>Add Criterium</span>
                    {{/ui/form/-async-button}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="media-right">
          {{#ui/form/-async-button tagName='button'
                                   class='delete is-small'
                                   action=(action '_unwatchArticle' articleWatched)}}
          {{/ui/form/-async-button}}
        </div>
      </article>
      {{#with (await articleWatchedNotificationCriteria) as |notificationCriteria|}}
        <article class="media">
          <div class="media-left"></div>
          <div class="media-content">
            <div class="field is-grouped is-grouped-multiline">
              {{#each (sort-by 'name' notificationCriteria) as |notificationCriterium|}}
                <div class="control">
                  <div class="tags has-addons">
                    <span class="tag is-info">
                      {{capitalize notificationCriterium.name}}
                    </span>
                    {{#ui/form/-async-button class='tag is-delete'
                                             action=(pipe-action (action '_removeArticleNotificationCriterium' notificationCriterium)
                                                                 (toast 'Notification criterium was removed.'))}}
                    {{/ui/form/-async-button}}
                  </div>
                </div>
              {{else}}
              {{/each}}
            </div>
          </div>
        </article>
      {{/with}}
    {{/if}}

    <!--Articles sold-->
    {{#each (sort-by 'createdAt:desc' articleSolds) as |articleSold|}}
      <article class="media">
        <div class="media-left">
          <span class="icon is-medium">
            {{ui/-icon 'shop' class='is-success'}}
          </span>
        </div>
        <div class="media-content">
          <div class="content">
            <div class="columns">
              <div class="column one-half">
                {{#if articleSold.soldPrice}}
                  <p class="title is-4">
                    {{ui/-money articleSold.soldPrice 'cad'}}
                    {{ui/-money articleSold.soldPrice 'jpy'}}
                  </p>
                {{/if}}
              </div>
              <div class="column one-half">
                <p class="{{if articleSold.soldPrice 'subtitle is-6' 'title is-4'}}">
                  {{#with (await articleSold.exchangeRate) as |exchangeRate|}}
                    {{ui/-money article.price 'cad' exchangeRate=(await articleSold.exchangeRate)}}
                    {{ui/-money article.price 'jpy' exchangeRate=(await articleSold.exchangeRate)}}
                  {{/with}}
                </p>
              </div>
            </div>
          </div>
          <div class="content">
            {{#if (eq articleSold.status 'confirmed')}}
              <span class="tag is-info is-capitalize">
                {{articleSold.status}}
              </span>
            {{/if}}{{#if (eq articleSold.status 'shipped')}}
              <span class="tag is-info is-warning is-capitalize">
                {{articleSold.status}}
              </span>
            {{/if}}{{#if (eq articleSold.status 'received')}}
              <span class="tag is-info is-success is-capitalize">
                {{articleSold.status}}
              </span>
            {{/if}}{{#if (eq articleSold.status 'cancelled')}}
              <span class="tag is-info is-danger is-capitalize">
                {{articleSold.status}}
              </span>
            {{/if}}{{#if (eq articleSold.status 'returned')}}
              <span class="tag is-info is-danger is-capitalize">
                {{articleSold.status}}
              </span>
            {{/if}}
          </div>
          <div class="content">
            <p class="title is-4">Sold {{moment-from-now articleSold.createdAt}} on {{moment-format articleSold.createdAt 'LL'}}</p>
            <p class="subtitle is-6">
              {{#with (await articleSold.exchangeRate) as |exchangeRate|}}
                Rates @ {{ui/-money oneDollar 'jpy'
                                    exchangeRate=exchangeRate
                                    showCode=false}} as on {{moment-format exchangeRate.timestamp 'MMM-D-YY'}}
              {{/with}}
            </p>
            <div class="field">
              <div class="control">
                {{#link-to 'articles.article.sold' article.id articleSold.id
                           class='button is-primary'}}
                  <span>Detail</span>
                {{/link-to}}
              </div>
            </div>
          </div>
        </div>
        <div class="media-right">
          {{#ui/form/-async-button tagName='button'
                                   class='delete is-small'
                                   action=(action '_unsellArticle' articleSold)}}
          {{/ui/form/-async-button}}
        </div>
      </article>
    {{/each}}
  </div>
</div>
