<section class="section is-small">
  <div class="container">

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label title is-4">Name</label>
      </div>
      <div class="field-body">
        <div class="field is-grouped">
          <p class="control is-expanded">
            {{input class='input is-medium'
                    value=metadatum.name
                    disabled=(cannot 'edit metadatum' metadatum)}}
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label title is-4">Domain</label>
      </div>
      <div class="field-body">
        <div class="field is-grouped">
          <p class="control">
            <span class="select">
              <select>
                <option>https:</option>
                <option>http:</option>
              </select>
            </span>
          </p>
          <p class="control is-expanded">
            {{input class='input'
                    value=metadatum.domain
                    disabled=(cannot 'edit metadatum' metadatum)}}
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label title is-4">Pager CSS</label>
      </div>
      <div class="field-body">
        <div class="field is-grouped">
          <p class="control is-expanded">
            {{input class='input'
                    value=metadatum.pagerCss
                    disabled=(cannot 'edit metadatum' metadatum)}}
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label title is-4">Index Pages</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded">
            {{#each merchant.indexPages as |indexPage|}}
              <div class="columns">
                <div class="column is-8">
                  <div class="field">
                    <p class="control has-icons-left">
                      {{input class='input'
                              value=indexPage.relativePath
                              disabled=(cannot 'edit metadatum' metadatum)}}
                      <span class="icon is-small is-left">
                        {{#if (eq indexPage.health 'green')}}
                          {{fa-icon 'check-circle' class='is-green'}}
                        {{else}}{{#if (eq indexPage.health 'orange')}}
                          {{fa-icon 'exclamation-triangle' class='is-yellow'}}
                        {{else}}{{#if (eq indexPage.health 'red')}}
                          {{fa-icon 'exclamation-circle' class='is-red'}}
                        {{/if}}{{/if}}{{/if}}
                      </span>
                    </p>
                    {{#if indexPage.lastSyncedAt}}
                      <p class="help is-success">
                        Last updated: {{moment-from-now indexPage.lastSyncedAt}}
                      </p>
                    {{/if}}
                  </div>
                </div>
                <div class="column is-4">
                  {{#if indexPage.inprogress}}
                    <button disabled class="button is-warning is-loading">
                      Update
                    </button>
                  {{else}}
                    {{#ui/form/-async-button class='button'
                                             textState='is-warning'
                                             disable=(cannot 'refresh indexPage' indexPage)
                                             action=(action '_refreshIndexPage' indexPage) as |component state|}}
                      {{#if state.isRejected}}
                        <span class="icon is-small">
                          {{fa-icon 'exclamation-circle'}}
                        </span>
                        <span>Error</span>
                      {{else}}{{#if state.isFulfilled}}
                        <span class="icon is-small">
                          {{fa-icon 'check-circle'}}
                        </span>
                        <span>Updated</span>
                      {{else}}
                        <span class="icon is-small">
                          {{fa-icon 'bug'}}
                        </span>
                        <span>Update</span>
                      {{/if}}{{/if}}
                    {{/ui/form/-async-button}}
                  {{/if}}
                </div>
              </div>
            {{/each}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>