<section class="section">
  <div class="container">

    <div class="control is-horizontal">
      <div class="control-label">
        <label class="label title is-4">Name</label>
      </div>
      <div class="control is-grouped">
        <p class="control is-expanded">
          {{input class='input is-disabled is-medium' value=metadatum.name}}
        </p>
      </div>
    </div>

    <div class="control is-horizontal">
      <div class="control-label">
        <label class="label title is-4">Base URL</label>
      </div>
      <div class="control is-grouped">
        <p class="control">
          <span class="select is-disabled is-medium">
            <select>
              <option>https:</option>
              <option>http:</option>
            </select>
          </span>
        </p>
        <p class="control is-expanded">
          {{input class='input is-disabled is-medium' value=metadatum.baseUrl}}
        </p>
      </div>
    </div>

    <div class="control is-horizontal">
      <div class="control-label">
        <label class="label title is-4">Pager CSS</label>
      </div>
      <div class="control is-grouped">
        <p class="control is-expanded">
          {{input class='input is-disabled is-medium' value=metadatum.pagerCss}}
        </p>
      </div>
    </div>

    <div class="control is-horizontal">
      <div class="control-label">
        <label class="label title is-4">Index Pages</label>
      </div>
      {{#each merchant.indexPages as |indexPage|}}
        <div class="control is-grouped">
          <p class="control has-icon is-expanded">
            <span class="icon is-small">
              {{fa-icon 'circle' class=(concat 'is-' indexPage.health)}}
            </span>
            {{input class='input is-disabled is-medium'
                    value=indexPage.fullUrl}}
          </p>
        </div>
      {{/each}}
    </div>

  </div>
</section>