<section class="section">
  <div class="container">

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label title is-4">Name</label>
      </div>
      <div class="field-body">
        <div class="field is-grouped">
          <p class="control is-expanded">
            {{input class='input is-disabled is-medium' value=metadatum.name}}
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label title is-4">Domain</label>
      </div>
      <div class="field-body">
        <div class="field is-grouped">
          <p class="control">
            <span class="select is-disabled is-medium">
              <select>
                <option>https:</option>
                <option>http:</option>
              </select>
            </span>
          </p>
          <p class="control is-expanded">
            {{input class='input is-disabled is-medium' value=metadatum.domain}}
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label title is-4">Pager CSS</label>
      </div>
      <div class="field-body">
        <div class="field is-grouped">
          <p class="control is-expanded">
            {{input class='input is-disabled is-medium' value=metadatum.pagerCss}}
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label title is-4">Index Pages</label>
      </div>
      <div class="field-body">
        <div class="field is-grouped">
          <p class="control is-expanded">
            {{#each merchant.indexPages as |indexPage|}}
              <div class="columns is-mobile">
                <div class="column is-8">
                  <div class="field is-grouped">
                    {{input class='input is-disabled is-medium'
                            value=indexPage.fullUrl}}</div>
                </div>
                <div class="column is-4">
                  {{#if (eq indexPage.health 'green')}}
                    <span class="tag is-large is-success">
                      {{capitalize indexPage.health}}
                    </span>
                  {{else}}{{#if (eq indexPage.health 'orange')}}
                    <span class="tag is-large is-warning">
                      {{capitalize indexPage.health}}
                    </span>
                  {{else}}{{#if (eq indexPage.health 'red')}}
                    <span class="tag is-large is-danger">
                      {{capitalize indexPage.health}}
                    </span>
                  {{/if}}{{/if}}{{/if}}
                </div>
              </div>
            {{/each}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>