<section class="section">
  <div class="container">
    <div class="columns">

      <div class="column">
        <div class="card is-fullwidth">
          <header class="card-header">
            <p class="card-header-title">Items Count</p>
            <span class="card-header-icon">
              {{fa-icon 'bar-chart'}}
            </span>
          </header>
          <div class="card-content">
            <div class="content has-text-centered">
              {{ui.sparkline.-bar data=itemsCountSeries}}
            </div>
          </div>
          <footer class="card-footer">
            <span class="card-footer-item">
              <span class="tag is-primary">Items</span>
            </span>
            <span class="card-footer-item">
              <span class="tag is-danger">Invalid</span>
            </span>
          </footer>
        </div>
      </div>

      <div class="column">
        <div class="card is-fullwidth">
          <header class="card-header">
            <p class="card-header-title">Traffic Size (kB)</p>
            <span class="card-header-icon">
              {{fa-icon 'bar-chart'}}
            </span>
          </header>
          <div class="card-content">
            <div class="content has-text-centered">
              {{ui.sparkline.-bar
                  data=(map-by 'trafficSizeKb' (take 20 (sort-by "startedAt:desc" model.crawlSessions)))}}
            </div>
          </div>
          <footer class="card-footer">
            <span class="card-footer-item">
              <span class="tag is-primary">Traffic Size (kB)</span>
            </span>
          </footer>
        </div>
      </div>

      <div class="column">
        <div class="card is-fullwidth">
          <header class="card-header">
            <p class="card-header-title">Crawl Elapsed (s)</p>
            <span class="card-header-icon">
              {{fa-icon 'bar-chart'}}
            </span>
          </header>
          <div class="card-content">
            <div class="content has-text-centered">
              {{ui.sparkline.-bar
                  data=(map-by 'elapsedTimeS' (take 20 (sort-by "startedAt:desc" model.crawlSessions)))}}
            </div>
          </div>
          <footer class="card-footer">
            <span class="card-footer-item">
              <span class="tag is-primary">Elapsed Time (s)</span>
            </span>
          </footer>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    {{ui.table.crawl-session model.crawlSessions}}
  </div>
</section>

