<section class="section">
  <div class="container">

    <div class="columns">
      <div class="column is-one-half">
        {{!--Merchant bar--}}
        <div class="tabs is-medium">
          <ul>
            {{#link-to 'merchant.index' metadatum.id (query-params filter='new') tagName='li' activeClass='is-active'}}
              {{#link-to 'merchant.index' metadatum.id (query-params filter='new')}}
                New
                <span class="tag is-success ml-1">
                  {{articles.meta.new-count}}
                </span>
              {{/link-to}}
            {{/link-to}}
            {{#link-to 'merchant.index' metadatum.id (query-params filter='sale') tagName='li' activeClass='is-active'}}
              {{#link-to 'merchant.index' metadatum.id (query-params filter='sale')}}
                Sale
                <span class="tag is-success ml-1">
                  {{articles.meta.sale-count}}
                </span>
              {{/link-to}}
            {{/link-to}}
            {{#link-to 'merchant.index' metadatum.id (query-params filter='all') tagName='li' activeClass='is-active'}}
              {{#link-to 'merchant.index' metadatum.id (query-params filter='all')}}
                All
                <span class="tag is-dark ml-1">
                  {{articles.meta.total-count}}
                </span>
              {{/link-to}}
            {{/link-to}}
          </ul>
        </div>
      </div>
      <div class="column is-one-half">
        {{!--Search bar--}}
        <p class="control has-addons has-addons-right">
          <input class="input is-medium is-expanded" type="text"
                 placeholder="Search for article">
          <a class="button is-primary is-medium">
            <span>Search</span>
            <span class="icon">
              {{fa-icon 'search'}}
            </span>
          </a>
        </p>
      </div>
    </div>

    {{!--Pagination--}}
    {{ui.-pager current=articles.meta.current-page
                count=articles.meta.total-pages
                change=(action '_pageChanged')}}
    <hr>

    {{!--Articles list--}}
    {{#each articles as |article|}}
      <div class="columns">
        <div class="column is-10">
          <nav class="level">
            <div class="level-item">
              {{#link-to 'articles' article.id
                         class='title is-4 has-text-left'}}
                {{capitalize article.name}}
                <p class="subtitle is-6 has-text-left">
                  {{titleize article.description}}
                </p>
              {{/link-to}}
            </div>
            <div class="level-right">
              <p class="level-item">
                <p class="title is-4">
                  ${{ui.-money article.price}}
                </p>
              </p>
            </div>
          </nav>
        </div>
        <div class="column">
          <div class="level">
            <div class="level-right has-text-right">
              <p class="level-item price-history">
                {{ui.sparkline.-line
                    data=(map-by 'price' (reverse (take 45
                        (sort-by 'createdAt:desc' article.priceHistory))))}}
              </p>
            </div>
          </div>
        </div>
      </div>
    {{/each}}

    <hr>

    {{!--Pagination--}}
    {{ui.-pager current=articles.meta.current-page
                count=articles.meta.total-pages
                change=(action '_pageChanged')}}
  </div>
</section>
