<section class="section">
  <div class="container">

    <div class="columns">
      <div class="column is-one-half">
        {{!--Merchant bar--}}
        <div class="tabs">
          <ul>
            {{#link-to 'merchant.index' metadatum.id (query-params filter='new')
                       tagName='li' activeClass='is-active'}}
              {{#link-to 'merchant.index' metadatum.id (query-params filter='new')}}
                New
                <span class="tag is-success ml-1">
                  {{articles.meta.new-count}}
                </span>
              {{/link-to}}
            {{/link-to}}
            {{#link-to 'merchant.index' metadatum.id (query-params filter='sale')
                       tagName='li' activeClass='is-active'}}
              {{#link-to 'merchant.index' metadatum.id (query-params filter='sale')}}
                Sale
                <span class="tag is-success ml-1">
                  {{articles.meta.sale-count}}
                </span>
              {{/link-to}}
            {{/link-to}}
            {{#link-to 'merchant.index' metadatum.id (query-params filter='all')
                       tagName='li' activeClass='is-active'}}
              {{#link-to 'merchant.index' metadatum.id (query-params filter='all')}}
                All
                <span class="tag is-dark ml-1">
                  {{articles.meta.total-count}}
                </span>
              {{/link-to}}
            {{/link-to}}
          </ul>
        </div>
      </div>
      <div class="column is-one-half">
      </div>
    </div>

    {{!--Pagination--}}
    {{ui.-pager current=articles.meta.current-page
                count=articles.meta.total-pages
                change=(action '_pageChanged')}}
    <hr>

    {{!--Articles list--}}
    {{#each articles as |article|}}
      <div class="columns">
        <div class="column buyma-article">
          <div class="level">
            {{#link-to 'articles.index' article.id class='title is-4 level-item has-text-left'}}
              <div class="has-text-left">
                <p class="title is-4">
                  {{capitalize article.name}}
                </p>
                <p class="heading">
                  {{titleize article.description}}
                </p>
              </div>
            {{/link-to}}
            <p class="level-item has-text-right">
              <p class="title is-4">
                {{ui.-money article.price showCode=true}}
              </p>
            </p>
            <p class="level-item price-history">
              {{ui.sparkline.-line
                  data=(map-by 'price' (reverse (take 45
                      (sort-by 'createdAt:desc' article.priceHistory))))}}
            </p>
          </div>
        </div>
      </div>
    {{/each}}

    <hr>

    {{!--Pagination--}}
    {{ui.-pager current=articles.meta.current-page
                count=articles.meta.total-pages
                change=(action '_pageChanged')}}
  </div>
</section>
