<section class="section">
  <div class="container">

    <div class="columns">
      <div class="column is-one-half">
        {{!--Merchant bar--}}
        <div class="tabs is-medium">
          <ul>
            <li class="is-active">
              <a>New <span class="tag is-success ml-1">213</span></a>
            </li>
            <li>
              <a>Sales <span class="tag is-success ml-1">324</span></a>
            </li>
            <li>
              <a>All <span class="tag is-dark ml-1">10023</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column is-one-half">
        {{!--Search bar--}}
        <p class="control has-addons has-addons-right">
          <input class="input is-medium is-expanded" type="text"
                 placeholder="Search for article">
          <a class="button is-primary is-medium">
            <span>Search</span>
            <span class="icon">
              {{fa-icon 'search'}}
            </span>
          </a>
        </p>
      </div>
    </div>

    {{!--Pagination--}}
    <nav class="pagination">
      <a class="button">Previous</a>
      <a class="button">Next page</a>
      <ul>
        <li><a class="button">1</a></li>
        <li><span>...</span></li>
        <li><a class="button">45</a></li>
        <li><a class="button is-primary">46</a></li>
        <li><a class="button">47</a></li>
        <li><span>...</span></li>
        <li><a class="button">86</a></li>
      </ul>
    </nav>
    <hr>

    {{!--Articles list--}}
    {{#each articles as |article|}}
      <div class="columns">
        <div class="column is-10">
          <nav class="level">
            <div class="level-item">
              {{#link-to 'articles' article.id class='title is-4 has-text-left'}}
                {{capitalize article.name}}
                <p class="subtitle is-6 has-text-left">
                  {{titleize article.description}}
                </p>
              {{/link-to}}
            </div>
            <div class="level-right">
              <p class="level-item">
                <p class="title is-4">
                  ${{ui.-money article.price}}
                </p>
              </p>
            </div>
          </nav>
        </div>
        <div class="column">
          <div class="level">
            <div class="level-right has-text-right">
              <p class="level-item price-history">
                {{ui.sparkline.-line
                    data=(map-by 'price' (reverse (take 45
                        (sort-by 'createdAt:desc' article.priceHistory))))}}
              </p>
            </div>
          </div>
        </div>
      </div>
    {{/each}}

    <hr>

    {{!--Pagination--}}
    <nav class="pagination">
      <a class="button">Previous</a>
      <a class="button">Next page</a>
      <ul>
        <li><a class="button">1</a></li>
        <li><span>...</span></li>
        <li><a class="button">45</a></li>
        <li><a class="button is-primary">46</a></li>
        <li><a class="button">47</a></li>
        <li><span>...</span></li>
        <li><a class="button">86</a></li>
      </ul>
    </nav>
  </div>
</section>
