<section class="section is-small">
  <div class="container">

    {{!--Merchant article options--}}
    <div class="columns">
      <div class="column is-3">
        <div class="content is-button-group">
          <p class="title is-4">Filters</p>
          {{#link-to 'merchant' merchant.id (query-params filter='new')
                     class='button is-outlined is-primary is-small'
                     activeClass='is-active'}}New{{/link-to}}
          {{#link-to 'merchant' merchant.id (query-params filter='sale')
                     class='button is-outlined is-primary is-small'
                     activeClass='is-primary is-active'}}Sale{{/link-to}}
          {{#link-to 'merchant' merchant.id (query-params filter='all')
                     class='button is-outlined is-primary is-small'
                     activeClass='is-primary'}}All{{/link-to}}

        </div>

        <div class="content is-button-group">
          <p class="title is-4">Orderings</p>

          <!--Ordering name-->
          <div class="field has-addons">
            <p class="control">
              {{#link-to 'merchant' merchant.id (query-params order='name')
                         class='button is-outlined is-primary is-small'
                         activeClass='is-active'}}By Name{{/link-to}}
            </p>
            <p class="control">
              {{#link-to 'merchant' merchant.id (query-params order='name:desc')
                         class='button is-outlined is-primary is-small'
                         activeClass='is-active'}}
                <span>Descending</span>
                <span class="icon is-small">{{ui/-icon 'arrow_downward'}}</span>
              {{/link-to}}
            </p>
          </div>

          <!--Ordering price-->
          <div class="field has-addons">
            <p class="control">
              {{#link-to 'merchant' merchant.id (query-params order='price')
                         class='button is-outlined is-primary is-small'
                         activeClass='is-active'}}
                <span class="icon is-small">{{ui/-icon 'attach_money'}}</span>
                <span>By Price</span>
              {{/link-to}}
            </p>
            <p class="control">
              {{#link-to 'merchant' merchant.id (query-params order='price:desc')
                         class='button is-outlined is-primary is-small'
                         activeClass='is-active'}}
                <span>Descending</span>
                <span class="icon is-small">{{ui/-icon 'arrow_downward'}}</span>
              {{/link-to}}
            </p>
          </div>

          <!--Ordering created at-->
          <div class="field has-addons">
            <p class="control">
              {{#link-to 'merchant' merchant.id (query-params order='created_at')
                         class='button is-outlined is-primary is-small'
                         activeClass='is-active'}}
                <span class="icon is-small">{{ui/-icon 'date_range'}}</span>
                <span>By Date Created</span>
              {{/link-to}}
            </p>
            <p class="control">
              {{#link-to 'merchant' merchant.id (query-params order='created_at:desc')
                         class='button is-outlined is-primary is-small'
                         activeClass='is-active'}}
                <span>Descending</span>
                <span class="icon is-small">{{ui/-icon 'arrow_downward'}}</span>
              {{/link-to}}
            </p>
          </div>

          <!--Ordering updated at-->
          <div class="field has-addons">
            <p class="control">
              {{#link-to 'merchant' merchant.id (query-params order='updated_at')
                         class='button is-outlined is-primary is-small'
                         activeClass='is-active'}}<span class="icon is-small">{{ui/-icon 'date_range'}}</span><span>By Date Updated</span>{{/link-to}}
            </p>
            <p class="control">
              {{#link-to 'merchant' merchant.id (query-params order='updated_at:desc')
                         class='button is-outlined is-primary is-small'
                         activeClass='is-active'}}
                <span>Descending</span>
                <span class="icon is-small">{{ui/-icon 'arrow_downward'}}</span>
              {{/link-to}}
            </p>
          </div>
        </div>

        <div class="content">
          <p class="title is-4">Legends</p>
          <p><span><span class="icon">{{ui/-icon 'stars' class='is-green'}}</span> New Articles (7 days)</span></p>
        </div>
      </div>

      <div class="column is-9">
        {{!--Pagination--}}
        <div class="columns">
          <div class="column">
            {{ui/-pager current=articles.meta.current-page
                        count=articles.meta.total-pages
                        change=(action '_pageChanged')}}
          </div>
        </div>

        {{!--Articles list--}}
        {{#each articles as |article|}}
          <div class="columns">
            <div class="column is-half">
              <div class="media bm-article {{if article.isNew 'is-new'}}">
                <!--<div class="media-left">-->
                  <!--<button class="button is-light">-->
                    {{!--{{fa-icon 'eye'}}--}}
                  <!--</button>-->
                <!--</div>-->
                <div class="media-content">
                  <div class="content">
                    {{#link-to 'articles.article.article-index' article.id}}
                      <p class="title is-4 is-capitalized">
                        {{article.name}}
                        {{#if article.isNew}}
                          <span class="icon">
                            {{ui/-icon 'stars' class='is-green'}}
                          </span>
                        {{/if}}
                      </p>
                      <p class="subtitle is-6">
                        {{article.description}}
                      </p>
                    {{/link-to}}
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-3 has-text-right">
              <p class="title is-4">
                {{ui/-money article.price}}
              </p>
              <p class="subtitle is-6">
                {{ui/-money article.price 'jpy'}}
              </p>
            </div>
            <div class="column is-3">
              <p class="price-history">
                {{ui/sparkline/-line data=(map-by 'price' article.sortedPriceHistory)}}
              </p>
            </div>
          </div>
        {{/each}}

        <hr>

        {{!--Pagination--}}
        {{ui/-pager current=articles.meta.current-page
                    count=articles.meta.total-pages
                    change=(action '_pageChanged')}}
      </div>
    </div>
  </div>
</section>
