{{#if (await (can 'sell article' article))}}
  {{#ui/form/-async-button class='button'
                           data-badge='8'
                           textState='is-success'
                           disableWhen=(not currentUser)
                           action=(action 'sell') as |component state|}}
    {{#if state.isRejected}}
      <span class="icon is-small">
        {{fa-icon 'exclamation-circle'}}
      </span>
      <span>Error</span>
    {{else}}{{#if state.isFulfilled}}
      <span class="icon is-small">
        {{fa-icon 'check-circle-o'}}
      </span>
      <span>Sold</span>
    {{else}}
      <span class="icon">
        {{ui/-icon 'shop'}}
      </span>
      <span>+1 Sell</span>
    {{/if}}{{/if}}
  {{/ui/form/-async-button}}
{{else}}
  <a disabled class="button is-primary">
    <span class="icon">
      {{ui/-icon 'shopping-bag'}}
    </span>
    <span>+1 Sell</span>
  </a>
{{/if}}
