{{#if (await (can 'unwatch article' article))}}
  <a disabled class="button is-warning">
    <span class="icon">
      {{ui/-icon 'loyalty'}}
    </span>
  </a>
{{else}}{{#if (await (can 'watch article' article))}}
  {{#ui/form/-async-button class='button'
                           textState='is-warning'
                           disableWhen=(not currentUser)
                           action=(action 'watch') as |component state|}}
    {{#if state.isRejected}}
      <span class="icon is-small">
        {{fa-icon 'exclamation-circle'}}
      </span>
      <span>Error</span>
    {{else}}{{#if state.isFulfilled}}
      <span class="icon is-small">
        {{fa-icon 'check-circle-o'}}
      </span>
    {{else}}
      <span class="icon">
        {{ui/-icon 'loyalty'}}
      </span>
      <span>Watch</span>
    {{/if}}{{/if}}
  {{/ui/form/-async-button}}
{{/if}}{{/if}}