<nav class="navbar has-shadow">
  <div class="navbar-brand">
    {{#link-to 'index.hello' class='navbar-item is-brand is-hidden-mobile'}}
      {{appName}}
    {{/link-to}}

    {{#side-menu-toggle id='logo-mobile' class='navbar-item is-brand is-hidden-tablet'}}
      <span class="icon">
        {{fa-icon 'bold'}}
      </span>
    {{/side-menu-toggle}}

    <span id="nav-search-item" class="navbar-item navbar-item-mobile is-hidden-tablet">
      <div class="field has-addons">
        <p class="control">
          {{input id="nav-search-input"
                  class="input is-radiusless"
                  type="text"
                  value=searchService.searchTerm
                  enter=(action '_searchArticles')
                  placeholder="Search..."}}
        </p>
        <div class="control">
          <a class="button is-white" {{action (reset-prop 'searchService.searchTerm' this)}}>
            <span class="icon {{if searchService.searchTerm 'has-text-primary' 'has-text-light'}}">
              {{ui/-icon 'cancel'}}
            </span>
          </a>
        </div>
      </div>
    </span>

    {{#with unreadArticleNotifieds as |unreadArticleNotifieds|}}
      {{#link-to 'notification' class='navbar-item navbar-item-mobile is-hidden-tablet'}}
        <span class="tag is-warning is-bold">
          {{unreadArticleNotifieds.length}}
        </span>
      {{/link-to}}
    {{/with}}

    <span class="navbar-burger {{if navBarIsActive 'is-active'}}" {{action (toggle 'navBarIsActive' this)}}>
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>

  <div class="navbar-menu {{if navBarIsActive 'is-active'}}">
    <div class="navbar-start">

      {{#link-to-with-action 'exchange_rates' class='navbar-item is-hidden-mobile'
                             invokeAction=(action (disable 'navBarIsActive' this))}}
        <span class="title is-4">
          {{ui/-money oneDollar 'jpy'}}
        </span>
      {{/link-to-with-action}}

      {{#link-to-with-action 'exchange_rates' class='navbar-item is-hidden-mobile'
                             invokeAction=(action (disable 'navBarIsActive' this))}}
        <span class="title is-4">
          {{ui/-money oneDollar 'usd'}}
        </span>
      {{/link-to-with-action}}

    </div>

    <div class="navbar-end">

      {{#link-to-with-action 'exchange_rates' class='navbar-item is-hidden-tablet'
                             invokeAction=(action (disable 'navBarIsActive' this))}}
        <span class="level is-mobile">
          <span class="level-item has-text-centered">
            <span class="title is-4">
              {{ui/-money oneDollar 'jpy'}}
            </span>
          </span>
          <span class="level-item has-text-centered">
            <span class="title is-4">
              {{ui/-money oneDollar 'usd'}}
            </span>
          </span>
        </span>
      {{/link-to-with-action}}

      <!--Merchant dropdown + megamenu-->
      <div class="navbar-item has-dropdown is-hoverable is-mega is-hidden-mobile">
        <div class="navbar-link">Merchants</div>
        <div class="navbar-dropdown is-radiusless">
          <div class="container is-fluid">
            {{#each (chunk 4 (sort-by 'name' merchants)) as |merchants_chunk|}}
              <div class="columns">
                {{#each merchants_chunk as |merchant|}}
                  <div class="column is-3">
                    <p class="title is-size-5 is-mega-menu-title is-flex is-align-items-center">
                      <figure class="image is-16x16 mr-0_5">
                        <img src="/images/favicon_{{underscore merchant.name}}.ico" alt="">
                      </figure>
                      <span>
                        {{merchant.name}}
                      </span>
                    </p>
                    {{#link-to 'merchant.merchant-index' merchant.id class='navbar-item'}}
                      <div class="navbar-content">
                        <p class="is-uppercase is-size-5">
                          {{merchant.id}}
                        </p>
                        <p>Articles: {{merchant.totalArticlesCount}}</p>
                      </div>
                    {{/link-to}}
                  </div>
                {{/each}}
              </div>
            {{/each}}
          </div>
        </div>
      </div>

      <span class="navbar-item is-hidden-tablet">
        <div class="columns is-mobile">
          <div class="column is-half">
            <p class="control is-expanded has-icons-left">
              {{input class='input has-text-right'
                      type='number'
                      value=cadValue
                      placehodler='CAD'}}
              <span class="icon is-left is-small">
                {{fa-icon 'dollar'}}
              </span>
            </p>
          </div>
          <div class="column is-half">
            <p class="control is-expanded">
              {{input class='input is-success has-text-right'
                      type='text'
                      disabled=true
                      value=jpyValue
                      placehodler='JPY'}}
            </p>
          </div>
        </div>
      </span>

      {{#link-to-with-action 'status'
                             class='navbar-item is-hidden-mobile'
                             invokeAction=(action (disable 'navBarIsActive' this))
                             activeClass='is-active'}}Status{{/link-to-with-action}}

      {{#if currentUser}}
        {{#link-to-with-action 'index.dashboard'
                               class='navbar-item is-hidden-mobile'
                               invokeAction=(action (disable 'navBarIsActive' this))
                               activeClass='is-active'}}Dashboard{{/link-to-with-action}}
        {{#link-to-with-action 'dashboard-archive'
                               class='navbar-item is-hidden-mobile'
                               invokeAction=(action (disable 'navBarIsActive' this))
                               activeClass='is-active'}}Archive{{/link-to-with-action}}
        {{#link-to-with-action 'user.profile.profile-index.settings'
                               class='navbar-item is-hidden-mobile'
                               invokeAction=(action (disable 'navBarIsActive' this))
                               activeClass='is-active'}}
          <figure class="image is-16x16 mr-1">
            <img src="http://bulma.io/images/jgthms.png" alt="">
          </figure>
          <span>
            {{currentUser.username}}
          </span>
        {{/link-to-with-action}}

        {{#link-to-with-action 'notification'
                               class='navbar-item is-hidden-mobile'
                               invokeAction=(action (disable 'navBarIsActive' this))
                               actionClass='is-active'}}
          <span class="icon is-small mr-1">
            {{fa-icon 'envelope-o'}}
          </span>

          {{#with unreadArticleNotifieds as |unreadArticleNotifieds|}}
            {{#if (gt unreadArticleNotifieds.length 0)}}
              <span class="tag is-warning is-bold">
                {{unreadArticleNotifieds.length}}
              </span>
            {{/if}}
          {{/with}}

        {{/link-to-with-action}}

        {{#link-to-with-action 'logout'
                               class='navbar-item is-hidden-mobile'
                               invokeAction=(pipe-action (action '_logout')
                                   (disable 'navBarIsActive' this))
                               activeClass='is-active'}}Logout{{/link-to-with-action}}
      {{else}}
        {{#link-to-with-action 'login'
                               class='navbar-item is-hidden-mobile'
                               invokeAction=(action (disable 'navBarIsActive' this))
                               activeClass='is-active'}}Login{{/link-to-with-action}}
      {{/if}}

    </div>
  </div>
</nav>