<nav class="navbar has-shadow">
  <div class="navbar-brand">
    {{#link-to 'index.hello' class='navbar-item is-brand is-hidden-mobile'}}
      {{appName}}
    {{/link-to}}

    {{#side-menu-toggle id='logo-mobile' class='navbar-item is-brand is-hidden-tablet'}}
      <span class="icon">
        {{fa-icon 'bold'}}
      </span>
    {{/side-menu-toggle}}

    <span class="navbar-item is-hidden-tablet">
      <p class="control is-fullwidth">
        {{input id="nav-search-input-mobile"
                class="input"
                type="text"
                value=inputSearchArticleQuery
                enter=(action '_searchArticles')
                placeholder="Search..."}}
      </p>
      {{#if inputSearchArticleQuery}}
        <span class="icon">
            <a class="delete" {{action (reset-prop 'inputSearchArticleQuery' this)}}></a>
          </span>
      {{/if}}
    </span>

    {{#with unreadArticleNotifieds as |unreadArticleNotifieds|}}
      {{#link-to 'notification' class='navbar-item is-hidden-tablet'}}
        <span class="tag is-warning is-bold">
          {{unreadArticleNotifieds.length}}
        </span>
      {{/link-to}}
    {{/with}}

    <span class="navbar-burger {{if navBarIsActive 'is-active'}}" {{action (toggle 'navBarIsActive' this)}}>
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>

  <div class="navbar-menu {{if navBarIsActive 'is-active'}}">
    <div class="navbar-start">

      {{#link-to-with-action 'exchange_rates' class='navbar-item is-hidden-mobile'
                             invokeAction=(action (disable 'navBarIsActive' this))}}
        <span class="title is-4">
          {{ui/-money oneDollar 'jpy'}}
        </span>
      {{/link-to-with-action}}

      {{#link-to-with-action 'exchange_rates' class='navbar-item is-hidden-mobile'
                             invokeAction=(action (disable 'navBarIsActive' this))}}
        <span class="title is-4">
          {{ui/-money oneDollar 'usd'}}
        </span>
      {{/link-to-with-action}}

    </div>

    <div class="navbar-end">

      {{#link-to-with-action 'exchange_rates' class='navbar-item is-hidden-tablet'
                             invokeAction=(action (disable 'navBarIsActive' this))}}
        <span class="level is-mobile">
          <span class="level-item has-text-centered">
            <span class="title is-4">
              {{ui/-money oneDollar 'jpy'}}
            </span>
          </span>
          <span class="level-item has-text-centered">
            <span class="title is-4">
              {{ui/-money oneDollar 'usd'}}
            </span>
          </span>
        </span>
      {{/link-to-with-action}}

      <span class="navbar-item is-hidden-tablet">
        <div class="columns is-mobile">
          <div class="column is-half">
            <p class="control is-expanded has-icons-left">
              {{input class='input has-text-right'
                      type='number'
                      value=cadValue
                      placehodler='CAD'}}
              <span class="icon is-left is-small">
                {{fa-icon 'dollar'}}
              </span>
            </p>
          </div>
          <div class="column is-half">
            <p class="control is-expanded">
              {{input class='input is-success has-text-right'
                      type='text'
                      disabled=true
                      value=jpyValue
                      placehodler='JPY'}}
            </p>
          </div>
        </div>
      </span>

      {{#link-to-with-action 'status'
                             class='navbar-item'
                             invokeAction=(action (disable 'navBarIsActive' this))
                             activeClass='is-active'}}Status{{/link-to-with-action}}

      {{#if currentUser}}
        {{#link-to-with-action 'index.dashboard'
                               class='navbar-item'
                               invokeAction=(action (disable 'navBarIsActive' this))
                               activeClass='is-active'}}Dashboard{{/link-to-with-action}}
        {{#link-to-with-action 'dashboard-archive'
                               class='navbar-item'
                               invokeAction=(action (disable 'navBarIsActive' this))
                               activeClass='is-active'}}Archive{{/link-to-with-action}}
        {{#link-to-with-action 'user.profile.profile-index.settings'
                               class='navbar-item'
                               invokeAction=(action (disable 'navBarIsActive' this))
                               activeClass='is-active'}}
          <figure class="image is-16x16 mr-1">
            <img src="http://bulma.io/images/jgthms.png" alt="">
          </figure>
          <span>
            {{currentUser.username}}
          </span>
        {{/link-to-with-action}}

        {{#link-to-with-action 'notification' class='navbar-item'
                               invokeAction=(action (disable 'navBarIsActive' this))
                               actionClass='is-active'}}
          <span class="icon is-small">
            {{fa-icon 'envelope-o'}}
          </span>

          {{#with unreadArticleNotifieds as |unreadArticleNotifieds|}}
            {{#if (gt unreadArticleNotifieds.length 0)}}
              <span class="tag is-warning is-bold">
                {{unreadArticleNotifieds.length}}
              </span>
            {{/if}}
          {{/with}}

        {{/link-to-with-action}}

        {{#link-to-with-action 'logout'
                               class='navbar-item is-hidden-mobile'
                               invokeAction=(pipe-action (action '_logout')
                                   (disable 'navBarIsActive' this))
                               activeClass='is-active'}}Logout{{/link-to-with-action}}
      {{else}}
        {{#link-to-with-action 'login'
                               class='navbar-item is-hidden-mobile'
                               invokeAction=(action (disable 'navBarIsActive' this))
                               activeClass='is-active'}}Login{{/link-to-with-action}}
      {{/if}}

    </div>
  </div>
</nav>