<nav class="nav has-shadow">
  <div class="container">

    <div class="nav-left">
      {{#link-to 'index.hello' class='nav-item is-brand is-hidden-mobile'}}
        {{appName}}
      {{/link-to}}

      {{#side-menu-toggle id='logo-mobile' class='nav-item is-brand is-hidden-tablet'}}
        <span class="icon">
          {{fa-icon 'bold'}}
        </span>
      {{/side-menu-toggle}}
    </div>

    <div id="nav-center-mobile" class="nav-center is-hidden-tablet">
      <span class="nav-item">
        <p class="control is-fullwidth">
          {{input id="nav-search-input-mobile"
                  class="input"
                  type="text"
                  value=inputSearchArticleQuery
                  enter=(action '_searchArticles')
                  placeholder="Search..."}}
        </p>
        {{#if inputSearchArticleQuery}}
          <span class="icon">
              <a class="delete" {{action (reset-prop 'inputSearchArticleQuery' this)}}></a>
            </span>
        {{/if}}
      </span>

      {{#with unreadArticleNotifieds as |unreadArticleNotifieds|}}
        {{#link-to 'notification' class='nav-item'}}
          <span class="tag is-warning is-bold">
            {{unreadArticleNotifieds.length}}
          </span>
        {{/link-to}}
      {{/with}}
    </div>

    <div class="nav-center is-hidden-mobile">
      <span class="nav-item">
        <span class="title is-4">
          {{ui/-money oneDollar 'jpy'}}
        </span>
      </span>

      <span class="nav-item">
        <span class="title is-4">
          {{ui/-money oneDollar 'usd'}}
        </span>
      </span>
    </div>

    <span class="nav-toggle {{if navBarIsActive 'is-active'}}" {{action (toggle 'navBarIsActive' this)}}>
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu {{if navBarIsActive 'is-active'}}">
      <span class="nav-item is-hidden-tablet">
        <span class="level is-mobile is-fullwidth">
          <span class="level-item">
            <span class="title is-5">
              {{ui/-money oneDollar 'jpy'}}
            </span>
          </span>
          <span class="level-item">
            <span class="title is-5">
              {{ui/-money oneDollar 'usd'}}
            </span>
          </span>
        </span>
      </span>

      <span class="nav-item is-hidden-tablet">
        <div class="columns is-mobile">
          <div class="column is-6">
            <p class="control is-expanded has-icons-left">
              {{input class='input has-text-right'
                      type='number'
                      value=cadValue
                      placehodler='CAD'}}
              <span class="icon is-left is-small">
                {{fa-icon 'dollar'}}
              </span>
            </p>
          </div>
          <div class="column is-6">
            <p class="control is-expanded">
              {{input class='input is-success has-text-right'
                      type='number'
                      disabled=true
                      value=jpyValue
                      placehodler='JPY'}}
            </p>
          </div>
        </div>
      </span>

      {{#link-to-with-action 'status'
                             class='is-tab nav-item'
                             invokeAction=(action (disable 'navBarIsActive' this))
                             activeClass='is-active'}}Status{{/link-to-with-action}}

      {{#if currentUser}}
        {{#link-to-with-action 'dashboard-archive'
                               class='is-tab nav-item'
                               invokeAction=(action (disable 'navBarIsActive' this))
                               activeClass='is-active'}}Archive{{/link-to-with-action}}
        {{#link-to-with-action 'index.dashboard'
                               class='is-tab nav-item'
                               invokeAction=(action (disable 'navBarIsActive' this))
                               activeClass='is-active'}}Dashboard{{/link-to-with-action}}
        {{#link-to-with-action 'user.profile'
                               class='is-tab nav-item'
                               invokeAction=(action (disable 'navBarIsActive' this))
                               activeClass='is-active'}}
          <figure class="image is-16x16 mr-1">
            <img src="http://bulma.io/images/jgthms.png" alt="">
          </figure>
          {{currentUser.username}}
        {{/link-to-with-action}}

        {{#link-to-with-action 'notification' class='is-tab nav-item'
                                              invokeAction=(action (disable 'navBarIsActive' this))
                                              actionClass='is-active'}}
          <span class="icon is-small">
            {{fa-icon 'envelope-o'}}
          </span>

          {{#with unreadArticleNotifieds as |unreadArticleNotifieds|}}
            {{#if (gt unreadArticleNotifieds.length 0)}}
              <span class="tag is-warning is-bold">
                {{unreadArticleNotifieds.length}}
              </span>
            {{/if}}
          {{/with}}

        {{/link-to-with-action}}

        {{#link-to-with-action 'logout'
                               class='is-tab nav-item is-hidden-mobile'
                               invokeAction=(pipe-action (action '_logout')
                                                         (disable 'navBarIsActive' this))
                               activeClass='is-active'}}Logout{{/link-to-with-action}}
      {{else}}
        {{#link-to-with-action 'login'
                               class='is-tab nav-item is-hidden-mobile'
                               invokeAction=(action (disable 'navBarIsActive' this))
                               activeClass='is-active'}}Login{{/link-to-with-action}}
      {{/if}}
    </div>


  </div>
</nav>