{{#side-menu}}
  <aside id="sidemenu" class="menu">
    <p class="menu-label"></p>
    <ul class="menu-list">
      <li>
        {{#ui/-side-menu-link-to 'index.hello'}}
          <span class="icon">{{fa-icon 'bold'}}</span>
          <span>Home</span>
        {{/ui/-side-menu-link-to}}
      </li>
      {{#if currentUser}}
        <li>
          {{#ui/-side-menu-link-to 'index.dashboard'}}
            <span class="icon">{{ui/-icon 'dashboard'}}</span>
            <span>Dashboard</span>
          {{/ui/-side-menu-link-to}}
        </li>
      {{/if}}
    </ul>

    <p class="menu-label">
      <a class="align-fix">
        <span class="icon">{{ui/-icon 'link'}}</span>
        <span>Links</span>
      </a>
    </p>
    <ul class="menu-list">
      <li>
        <ul>
          <li>
            {{#ui/-side-menu-link-to 'status'}}
              <span>Status</span>
            {{/ui/-side-menu-link-to}}
          </li>
        </ul>
      </li>
    </ul>

    {{#if currentUser}}
      <p class="menu-label">
        <a class="align-fix">
          <span class="icon">{{ui/-icon 'person'}}</span>
          <span>{{currentUser.username}}</span>
        </a>
      </p>
      <ul class="menu-list">
        <li>
          <ul>
            <li>
              {{#ui/-side-menu-link-to 'user.profile'}}
                <span>Profile</span>
              {{/ui/-side-menu-link-to}}
            </li>

            <li>
              {{#ui/-side-menu-link-to 'notification'}}
                <span>Notifications</span>
              {{/ui/-side-menu-link-to}}
            </li>

            <li>
              {{#ui/-side-menu-link-to 'dashboard-archive'}}
                <span>Archive</span>
              {{/ui/-side-menu-link-to}}
            </li>
          </ul>
        </li>
      </ul>

      <ul class="menu-list">
        <li>
          {{#ui/-side-menu-link-to 'logout'}}
            <span class="icon">{{ui/-icon 'input'}}</span>
            <span>Logout</span>
          {{/ui/-side-menu-link-to}}
        </li>
      </ul>
    {{else}}
      <ul class="menu-list">
        <li>
          {{#ui/-side-menu-link-to 'login'}}
            <span class="icon">{{fa-icon 'sign-in'}}</span>
            <span>Login</span>
          {{/ui/-side-menu-link-to}}
        </li>
      </ul>
    {{/if}}

    <p class="menu-label">
      <a class="align-fix">
        <span class="icon">{{ui/-icon 'business'}}</span>
        <span>Merchants</span>
      </a>
    </p>
    <ul class="menu-list">
      <li>
        <ul>
          {{#each merchants as |merchant|}}
            <li>
              {{#ui/-side-menu-link-to 'merchant.index' merchant.id}}
                <span>{{capitalize merchant.name}}</span>
              {{/ui/-side-menu-link-to}}
            </li>
          {{/each}}
        </ul>
      </li>
    </ul>

    <!--<p class="menu-label">Administration</p>-->
    <!--<ul class="menu-list">-->
      <!--<li><a>Team Settings</a></li>-->
      <!--<li>-->
        <!--<a class="is-active">Manage Your Team</a>-->
        <!--<ul>-->
          <!--<li><a>Members</a></li>-->
          <!--<li><a>Plugins</a></li>-->
          <!--<li><a>Add a member</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li><a>Invitations</a></li>-->
      <!--<li><a>Cloud Storage Environment Settings</a></li>-->
      <!--<li><a>Authentication</a></li>-->
    <!--</ul>-->
    <!--<p class="menu-label">Transactions</p>-->
    <!--<ul class="menu-list">-->
      <!--<li><a>Payments</a></li>-->
      <!--<li><a>Transfers</a></li>-->
      <!--<li><a>Balance</a></li>-->
    <!--</ul>-->
  </aside>
{{/side-menu}}
{{content-backdrop}}