{{#side-menu}}
  <aside id="sidemenu" class="menu">
    <p class="menu-label"></p>
    <ul class="menu-list">
      <li>
        {{#if currentUser}}
          {{#side-menu-link-to 'index.dashboard' activeClass='is-active'}}
            <span class="icon">{{fa-icon 'bold'}}</span>
            <span>Home</span>
          {{/side-menu-link-to}}
        {{else}}
          {{#side-menu-link-to 'index.hello' activeClass='is-active'}}
            <span class="icon">{{fa-icon 'bold'}}</span>
            <span>Home</span>
          {{/side-menu-link-to}}
        {{/if}}
      </li>
    </ul>

    <p class="menu-label">
      <span class="icon">{{ui/-icon 'link'}}</span>
      <span>Links</span>
    </p>
    <ul class="menu-list">
      <li>
        <ul>
          <li>
            {{#side-menu-link-to 'status' activeClass='is-active'}}
              <span>Status</span>
            {{/side-menu-link-to}}
          </li>
        </ul>
      </li>
    </ul>

    {{#if currentUser}}
      <p class="menu-label">
        <span class="icon">{{ui/-icon 'person'}}</span>
        <span>{{currentUser.username}}</span>
      </p>
      <ul class="menu-list">
        <li>
          <ul>
            <li>
              {{#side-menu-link-to 'user.profile' activeClass='is-active'}}
                <span>Profile</span>
              {{/side-menu-link-to}}
            </li>

            <li>
              {{#side-menu-link-to 'notification' activeClass='is-active'}}
                <span>Notifications</span>
              {{/side-menu-link-to}}
            </li>

            <li>
              {{#side-menu-link-to 'dashboard-archive' activeClass='is-active'}}
                <span>Archive</span>
              {{/side-menu-link-to}}
            </li>
          </ul>
        </li>
      </ul>

      <ul class="menu-list">
        <li>
          {{#side-menu-link-to 'logout' activeClass='is-active'}}
            <span class="icon">{{ui/-icon 'input'}}</span>
            <span>Logout</span>
          {{/side-menu-link-to}}
        </li>
      </ul>
    {{else}}
      <ul class="menu-list">
        <li>
          {{#side-menu-link-to 'login' activeClass='is-active'}}
            <span class="icon">{{fa-icon 'sign-in'}}</span>
            <span>Login</span>
          {{/side-menu-link-to}}
        </li>
      </ul>
    {{/if}}

    <p class="menu-label">
      <span class="icon">{{ui/-icon 'business'}}</span>
      <span>Merchants</span>
    </p>
    <ul class="menu-list">
      <li>
        <ul>
          {{#each merchants as |merchant|}}
            <li>
              {{#side-menu-link-to 'merchant.index' merchant.id activeClass='is-active'}}
                <span>{{capitalize merchant.name}}</span>
              {{/side-menu-link-to}}
            </li>
          {{/each}}
        </ul>
      </li>
    </ul>

    <!--<p class="menu-label">Administration</p>-->
    <!--<ul class="menu-list">-->
      <!--<li><a>Team Settings</a></li>-->
      <!--<li>-->
        <!--<a class="is-active">Manage Your Team</a>-->
        <!--<ul>-->
          <!--<li><a>Members</a></li>-->
          <!--<li><a>Plugins</a></li>-->
          <!--<li><a>Add a member</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li><a>Invitations</a></li>-->
      <!--<li><a>Cloud Storage Environment Settings</a></li>-->
      <!--<li><a>Authentication</a></li>-->
    <!--</ul>-->
    <!--<p class="menu-label">Transactions</p>-->
    <!--<ul class="menu-list">-->
      <!--<li><a>Payments</a></li>-->
      <!--<li><a>Transfers</a></li>-->
      <!--<li><a>Balance</a></li>-->
    <!--</ul>-->
  </aside>
{{/side-menu}}
{{content-backdrop}}