<div class="content">
  <p class="title is-4 has-text-right">
    Dashboard
  </p>
  <hr>
  {{#each-in (group-by 'createdAtDay' soldArticles) as |createdAtDay soldArticles|}}
    <article class="message is-primary">
      <div class="message-header">
        <p class="has-text-right">
          {{moment-format createdAtDay 'LL' 'DDDD'}}
        </p>
      </div>
    </article>
    {{#each soldArticles as |soldArticle|}}
      <div class="columns">
        <div class="column">
          <div class="card">
            <header class="card-header">
              <div class="card-header-title">
                {{#link-to 'articles.index' soldArticle.article.id
                           class='button is-link'}}
                  {{soldArticle.article.name}}
                {{/link-to}}
              </div>
              <div class="card-header-icon">
                <a class="delete"></a>
              </div>
            </header>
            <div class="card-content">
              <div class="content">
                {{moment-format soldArticle.createdAt 'LT'}}
              </div>
            </div>
            <footer class="card-footer">
              <div class="card-footer-item">
                <div class="level is-fullwidth">
                  {{#each (array 'confirmed' 'shipped' 'received') as |state index|}}
                    <div class="level-item">
                      <span class="tag {{if (eq state soldArticle.status) 'is-success'}} is-capitalize">
                        {{#if (eq state soldArticle.status)}}
                          {{inc index}}. {{state}}
                        {{else}}
                          {{#ui.form.-async-button tagName='a' action=(action state soldArticle)}}
                            {{inc index}}. {{state}}
                          {{/ui.form.-async-button}}
                        {{/if}}
                      </span>
                    </div>
                  {{/each}}
                </div>
              </div>
              <div class="card-footer-item">
                <div class="level is-fullwidth">
                  {{#each (array 'cancelled' 'returned') as |state index|}}
                    <div class="level-item">
                      <span class="tag {{if (eq state soldArticle.status) 'is-danger'}} is-capitalize">
                        {{#if (eq state soldArticle.status)}}
                          {{inc index}}. {{state}}
                        {{else}}
                          {{#ui.form.-async-button tagName='a' action=(action state soldArticle)}}
                            {{inc index}}. {{state}}
                          {{/ui.form.-async-button}}
                        {{/if}}
                      </span>
                    </div>
                  {{/each}}
                </div>
              </div>
            </footer>
            <footer class="card-footer">
              <div class="card-footer-item">
                {{#link-to 'articles.sold' soldArticle.article.id soldArticle.id}}
                  Detail <span class="icon">{{fa-icon 'bar-chart'}}</span>
                {{/link-to}}
              </div>
              <div class="card-footer-item">
                {{#link-to 'articles.sold' soldArticle.article.id soldArticle.id}}
                  Archive <span class="icon">{{fa-icon 'trash-o'}}</span>
                {{/link-to}}
              </div>
              <div class="card-footer-item">
                {{#link-to 'articles.sold' soldArticle.article.id soldArticle.id}}
                  Delete <span class="icon">{{fa-icon 'trash-o'}}</span>
                {{/link-to}}
              </div>
            </footer>
          </div>
        </div>
      </div>
    {{/each}}
  {{/each-in}}

  <p class="has-text-right">
    {{#link-to 'index.dashboard_archive' class='button is-link'}}<span>Go to archived</span><span class="icon is-small">{{fa-icon 'angle-right'}}</span>{{/link-to}}
  </p>
</div>
