<section class="section">
  <div class="container">
    <!--Nav and article control-->
    <nav>
      <div class="field is-grouped">
        <p class="control">
          <a class="button" target="_blank" href="{{article.link}}">
            <span class="icon is-small">{{fa-icon 'globe'}}</span>
            <span>Link</span>
          </a>
        </p>

        {{article.watch-button article=article watch=(action '_watchArticle' article)}}
        {{article.sell-button  article=article sell=(pipe-action (action '_sellArticle' article)
                                                                 (action '_toast' 'Congratulation!'))}}
      </div>
    </nav>

    <hr>

    <div class="content">
      <div class="columns">
        <div class="column is-half has-text-left is-capitalize">
          {{#if (eq article.health 1)}}
            <p class="tag is-success">{{moment-from-now article.syncedAt}}</p>
          {{else}}{{#if (eq article.health 2)}}
            <p class="tag is-warning">{{moment-from-now article.syncedAt}}</p>
          {{else}}{{#if (eq article.health 3)}}
            <p class="tag is-danger">{{moment-from-now article.syncedAt}}</p>
          {{else}}{{#if (eq article.health 4)}}
            <p class="tag">{{moment-from-now article.syncedAt}}</p>
          {{else}}
            <p class="tag">Never</p>
          {{/if}}{{/if}}{{/if}}{{/if}}
        </div>
        <div class="column is-half">
          <p class="title is-4 is-capitalize has-text-right">
            {{article.name}}
          </p>
          <p class="subtitle is-6 has-text-right">
            Created on {{moment-format article.createdAt 'L'}}
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="columns is-row-reverse">

      <!--Price panel-->
      <div class="column is-4">
        <div class="columns is-gapless">
          <div class="card is-fullwidth padding-1">
            <div class="level is-mobile">
              <div class="level-item">
                <span class="icon">{{fa-icon 'arrow-up'}}</span>
              </div>
              <div class="level-item">
                <p class="title is-4">
                  {{ui.-money article.price 'cad' showCode=true}}
                </p>
              </div>
              <div class="level-item">
                <p class="title is-4">
                  {{ui.-money article.price 'jpy' showCode=true}}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="columns is-gapless">
          <div class="card is-fullwidth padding-1">
            <div class="level is-mobile">
              <div class="level-item price-history">
                {{ui.sparkline.-line data=(map-by 'price' (sort-by 'createdAt' article.priceHistory.history))}}
              </div>
            </div>
          </div>
        </div>

        <div class="columns is-gapless">
          <div class="card is-fullwidth padding-1">
            <table class="table is-bordered is-narrow is-striped mt-2 is-fullwidth">
              <tbody>
              {{#if article.priceSummary.max}}
                <tr>
                  <td><b>Highest</b></td>
                  <td>${{article.priceSummary.max.price}}</td>
                  <td>{{moment-from-now article.priceSummary.max.seenAt}}</td>
                </tr>
              {{/if}}

              {{#if article.priceSummary.min}}
                <tr>
                  <td><b>Lowest</b></td>
                  <td>${{article.priceSummary.min.price}}</td>
                  <td>{{moment-from-now article.priceSummary.min.seenAt}}</td>
                </tr>
              {{/if}}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!--Article panel-->
      <div class="column is-8">
        <div class="content">
          <blockquote>{{article.description}}</blockquote>
        </div>

        {{#if watchedArticle}}
          <article class="media">
            <div class="media-left">
              <p class="title is-2">
                <span class="icon">
                  {{fa-icon 'eye' class='is-info'}}
                </span>
              </p>
            </div>
            <div class="media-content">
              <div class="content">
                <p class="title is-4 is-capitalize">{{moment-from-now watchedArticle.createdAt}}</p>
                <p class="subtitle is-6">{{moment-format watchedArticle.createdAt}}</p>
              </div>
            </div>
            <div class="media-right">
              {{#ui.form.-async-button tagName='button'
                                       class='delete is-small'
                                       action=(action '_unwatchArticle' watchedArticle)}}
              {{/ui.form.-async-button}}
            </div>

          </article>
        {{/if}}

        <!--Sold articles-->
        {{#each (sort-by 'createdAt:desc' soldArticles) as |soldArticle|}}
          <article class="media">
            <div class="media-left">
              <p class="title is-2">
                <span class="icon">
                  {{fa-icon 'shopping-bag' class='is-success'}}
                </span>
              </p>
            </div>
            <div class="media-content">
              <div class="content">
                <div class="columns">
                  <div class="column one-half">
                    {{#if soldArticle.soldPrice}}
                      <p class="title is-4">
                        {{ui.-money soldArticle.soldPrice 'cad'}}
                        {{ui.-money soldArticle.soldPrice 'jpy'}}
                      </p>
                    {{/if}}
                  </div>
                  <div class="column one-half">
                    <p class="{{if soldArticle.soldPrice 'subtitle is-6' 'title is-4'}}">
                      {{ui.-money article.price 'cad' exchangeRate=(await soldArticle.exchangeRate)}}
                      {{ui.-money article.price 'jpy' exchangeRate=(await soldArticle.exchangeRate)}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="content">
                <p class="title is-6">
                  Sold about {{moment-from-now soldArticle.createdAt}} on {{moment-format soldArticle.createdAt 'LL'}}
                </p>
              </div>
              <div class="content">
                <p class="title is-6">
                  @rates {{ui.-money oneDollar 'jpy'
                                     exchangeRate=(await soldArticle.exchangeRate)
                                     showCode=false}} of {{moment-format (await soldArticle.exchangeRate.timestamp) 'MMM-D-YY'}}
                </p>
              </div>
            </div>
            <div class="media-right">
              {{#ui.form.-async-button tagName='button'
                                       class='delete is-small'
                                       action=(action '_unsellArticle' soldArticle)}}
              {{/ui.form.-async-button}}
            </div>
          </article>
          <article class="media">
            <div class="media-content">
              <div class="content">
                {{#if (eq soldArticle.status 'confirmed')}}
                  <span class="tag is-info is-capitalize">
                    {{soldArticle.status}}
                  </span>
                {{/if}}{{#if (eq soldArticle.status 'shipped')}}
                  <span class="tag is-info is-warning is-capitalize">
                    {{soldArticle.status}}
                  </span>
                {{/if}}{{#if (eq soldArticle.status 'received')}}
                  <span class="tag is-info is-success is-capitalize">
                    {{soldArticle.status}}
                  </span>
                {{/if}}{{#if (eq soldArticle.status 'cancelled')}}
                  <span class="tag is-info is-danger is-capitalize">
                    {{soldArticle.status}}
                  </span>
                {{/if}}{{#if (eq soldArticle.status 'returned')}}
                  <span class="tag is-info is-danger is-capitalize">
                    {{soldArticle.status}}
                  </span>
                {{/if}}
              </div>
            </div>
          </article>
        {{/each}}
      </div>

    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <hr>
    <div class="title is-3 has-text-right">Related</div>
    <div class="columns">
      {{#each (repeat 6) as |empty|}}
        <div class="column is-2">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="http://placehold.it/300x225" alt="">
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-6">Article 1</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
