<section class="section">
  <div class="container">
    <!--Nav and article control-->
    <nav>
      <div class="field is-grouped">

        <p class="control">
          <a class="button">
            <span class="icon is-small">{{fa-icon 'globe'}}</span>
          </a>
        </p>

        {{article.watch-button article=article watch=(action '_watchArticle' article)}}
        {{article.sell-button  article=article sell=(pipe-action (action '_sellArticle' article)
                                                                 (action '_toast' 'Congratulation!'))}}
      </div>
    </nav>

    <hr>

    <div class="content mb-1">
      <p class="title is-4 is-capitalize has-text-right">{{article.name}}</p>
      <p class="subtitle is-6 has-text-right">
        Indexed <bold>{{moment-from-now article.createdAt}}</bold>
      </p>
    </div>
  </div>


  <div class="container">
    <div class="columns is-row-reverse">

      <!--Price panel-->
      <div class="column is-4">
        <div class="columns is-gapless">
          <div class="card is-fullwidth padding-1">
            <div class="level is-mobile">
              <div class="level-item">
                <span class="icon">{{fa-icon 'arrow-up'}}</span>
              </div>
              <div class="level-item">
                <p class="title is-4">
                  {{ui.-money article.price 'cad' showCode=true}}
                </p>
              </div>
              <div class="level-item">
                <p class="title is-4">
                  {{ui.-money article.price 'jpy' showCode=true}}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="columns is-gapless">
          <div class="card is-fullwidth padding-1">
            <div class="level is-mobile">
              <div class="level-item price-history-container">
                {{ui.sparkline.-line data=(map-by 'price' (sort-by 'createdAt:desc' article.priceHistory.history))}}
              </div>
            </div>
          </div>
        </div>

        <div class="columns is-gapless">
          <div class="card is-fullwidth padding-1">
            <table class="table is-bordered is-narrow is-striped mt-2 is-fullwidth">
              <tbody>
              {{#if article.priceSummary.max}}
                <tr>
                  <td><b>Highest</b></td>
                  <td>${{article.priceSummary.max.price}}</td>
                  <td>{{moment-from-now article.priceSummary.max.seenAt}}</td>
                </tr>
              {{/if}}

              {{#if article.priceSummary.min}}
                <tr>
                  <td><b>Lowest</b></td>
                  <td>${{article.priceSummary.min.price}}</td>
                  <td>{{moment-from-now article.priceSummary.min.seenAt}}</td>
                </tr>
              {{/if}}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!--Article panel-->
      <div class="column is-8">
        <div class="content">
          <blockquote>{{article.description}}</blockquote>
        </div>

        {{#if watchedArticle}}
          <article class="media">
            <div class="media-left">
              <p class="title is-2">
                <span class="icon">
                  {{fa-icon 'eye'}}
                </span>
              </p>
            </div>
            <div class="media-content">
              <div class="content">
                <p class="title is-4 is-capitalize">{{moment-from-now watchedArticle.createdAt}}</p>
                <p class="subtitle is-6">{{moment-format watchedArticle.createdAt}}</p>
              </div>
            </div>
            <div class="media-right">
              <span class="tag is-danger">
                {{#ui.form.-async-button tagName='button'
                                         class='delete is-small'
                                         action=(action '_unwatchArticle' watchedArticle)}}
                {{/ui.form.-async-button}}
              </span>
            </div>

          </article>
        {{/if}}

        {{#each (sort-by 'createdAt:desc' soldArticles) as |soldArticle|}}
          <article class="media">
            <div class="media-left">
              <p class="title is-2">
                <span class="icon">
                  {{fa-icon 'shopping-bag' class='is-success'}}
                </span>
              </p>
            </div>
            <div class="media-content">
              <div class="content">
                <p class="title is-4">
                  {{ui.-money (await soldArticle.article.price) 'cad' showCode=true
                              exchangeRate=(await soldArticle.exchangeRate)}}
                  {{ui.-money (await soldArticle.article.price) 'jpy' showCode=true
                              exchangeRate=(await soldArticle.exchangeRate)}}
                </p>
                <p class="subtitle is-6">
                  {{moment-format soldArticle.createdAt}}
                </p>
                <p class="subtitle is-6 is-capitalize">
                  {{moment-from-now soldArticle.createdAt}}
                </p>
              </div>
              <div class="content">
                <p class="title is-6">
                  {{ui.-money oneDollar 'jpy' exchangeRate=(await soldArticle.exchangeRate)}}
                  {{moment-format (await soldArticle.exchangeRate.timestamp)}}
                </p>
              </div>
            </div>
            <div class="media-right">
              <span class="tag is-danger">
                {{#ui.form.-async-button tagName='button'
                                         class='delete is-small'
                                         action=(action '_unsellArticle' soldArticle)}}
                {{/ui.form.-async-button}}
              </span>
            </div>
          </article>
        {{/each}}
      </div>

    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <hr>
    <div class="title is-3 has-text-right">Related</div>
    <div class="columns">
      {{#each (repeat 6) as |empty|}}
        <div class="column is-2">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="http://placehold.it/300x225" alt="">
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-6">Article 1</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
