<header class="card-header" {{action (toggle 'displayCardContent' this)}}>
  <p class="card-header-title">
    {{yield}}
  </p>
  <a class="card-header-icon">
    <span class="icon">
      {{#if displayCardContent}}
        {{fa-icon 'angle-down'}}
      {{else}}
        {{fa-icon 'plus-circle'}}
      {{/if}}
    </span>
  </a>
</header>
<div class="card-content is-small {{if (not displayCardContent) 'is-hidden'}}">
  {{yield to='inverse'}}
</div>
{{#each footerActionItems as |footerActionItem|}}
  <div class="card-footer {{if (not displayCardContent) 'is-hidden'}}">
    <a class="card-footer-item" {{action footerActionItem.footerActionName}}>
      {{footerActionItem.footerItemName}}
    </a>
  </div>
{{/each}}
