<a class="pagination-previous {{if isFirstDisabled 'is-disabled'}}"
   href="{{previousUrl}}" {{action 'previous'}}>
  {{{pagerPrevious}}}
</a>
<a class="pagination-next {{if isLastDisabled 'is-disabled'}}"
   href="{{nextUrl}}" {{action 'next'}}>
  {{{pagerNext}}}
</a>
<ul class="pagination-list is-fullwidth">
  {{#each pages key='@index' as |page|}}
    {{ui.-pager-item disabled=disabled page=page
                selected=this.current seperator=seperator
                urlTemplate=urlTemplate pageSet='pageChanged'}}
  {{/each}}
</ul>
