<div class="content">
  <p class="title is-4 has-text-right">
    Dashboard
  </p>
  <hr>
  {{#each-in (group-by 'createdAtDay' articleSolds) as |createdAtDay articleSolds|}}
    <article class="message is-primary">
      <div class="message-header">
        <p class="has-text-right">
          {{moment-format createdAtDay 'LL' 'DDDD'}}
        </p>
      </div>
    </article>
    {{#each articleSolds as |articleSold|}}
      <div class="columns">
        <div class="column">
          <div class="card">
            <header class="card-header">
              <div class="card-header-title">
                {{articleSold.article.name}}
              </div>
              <div class="card-header-icon">
                {{moment-format articleSold.createdAt 'LT'}}
              </div>
            </header>
            <div class="card-content">
              <div class="content">
                <span class="title is-5">
                  {{ui.-money articleSold.soldPrice showCode=false}}
                </span>
              </div>
            </div>
            <footer class="card-footer">
              <div class="card-footer-item">
                <div class="level is-fullwidth">
                  {{#each (array 'confirmed' 'shipped' 'received') as |state index|}}
                    <div class="level-item">
                      <span class="tag {{if (eq state articleSold.status) 'is-success'}} is-capitalize">
                        {{#if (eq state articleSold.status)}}
                          {{inc index}}. {{state}}
                        {{else}}
                          {{#ui.form.-async-button tagName='a' action=(action state articleSold)}}
                            {{inc index}}. {{state}}
                          {{/ui.form.-async-button}}
                        {{/if}}
                      </span>
                    </div>
                  {{/each}}
                </div>
              </div>
              <div class="card-footer-item">
                <div class="level is-fullwidth">
                  {{#each (array 'cancelled' 'returned') as |state index|}}
                    <div class="level-item">
                      <span class="tag {{if (eq state articleSold.status) 'is-danger'}} is-capitalize">
                        {{#if (eq state articleSold.status)}}
                          {{inc index}}. {{state}}
                        {{else}}
                          {{#ui.form.-async-button tagName='a' action=(action state articleSold)}}
                            {{inc index}}. {{state}}
                          {{/ui.form.-async-button}}
                        {{/if}}
                      </span>
                    </div>
                  {{/each}}
                </div>
              </div>
            </footer>
            <footer class="card-footer">
              <div class="card-footer-item">
                {{#link-to 'articles' articleSold.article.id}}
                  <span class="icon">{{fa-icon 'shopping-basket'}}</span>
                  <span>Article</span>
                {{/link-to}}
              </div>
              <div class="card-footer-item">
                {{#link-to 'articles.sold' articleSold.article.id articleSold.id}}
                  <span class="icon">{{fa-icon 'area-chart'}}</span>
                  <span>Detail</span>
                {{/link-to}}
              </div>
              <div class="card-footer-item">
                {{#link-to 'articles.sold' articleSold.article.id articleSold.id}}
                  <span class="icon">{{fa-icon 'handshake-o'}}</span>
                  <span>Archive</span>
                {{/link-to}}
              </div>
            </footer>
          </div>
        </div>
      </div>
    {{/each}}
  {{/each-in}}

  <p class="has-text-right">
    {{#link-to 'dashboard_archive' class='button is-link'}}<span>Go to archived</span><span class="icon is-small">{{fa-icon 'angle-right'}}</span>{{/link-to}}
  </p>
</div>
