{{partial 'partials/hero-article-search'}}

<section class="section has-small-padding">
  <div class="container">
    <div class="columns">
      <div class="column is-4">

        <!-- Merchant panel -->
        <nav class="panel">
          <p class="panel-heading">Merchants</p>
          <p class="panel-tabs"></p>
          {{#each merchants as |merchant|}}
            {{#link-to 'merchant' merchant.id class='panel-block'}}
              <span class="panel-icon">
                {{fa-icon 'shopping-bag'}}
              </span>
              <div class="media is-fullwidth">
                <div class="media-left">
                  {{capitalize merchant.name}}
                </div>
                <div class="media-content"></div>
                <div class="media-right">
                  <span class="tag is-success">
                    {{merchant.id}}:{{merchant.totalArticlesCount}}
                  </span>
                </div>
              </div>
            {{/link-to}}
          {{/each}}
        </nav>

        <!-- Currency calculator -->
        <div class="columns">
          <div class="column is-5">
            <div class="field is-grouped">
              <p class="control is-expanded has-icons-left">
                {{input class='input has-text-right'
                        type='text'
                        value=cadValue
                        placehodler='CAD'}}
                <span class="icon is-left">
                  {{fa-icon 'dollar'}}
                </span>
              </p>
            </div>
          </div>
          <div class="column is-2 has-text-centered is-hidden-mobile">
            <p class="field">
              <a disabled class="button is-light">
                <span class="icon">
                  {{fa-icon 'exchange'}}
                </span>
              </a>
            </p>
          </div>
          <div class="column is-5">
            <div class="field is-grouped">
              <p class="control is-expanded has-icons-left">
                {{input class='input is-success has-text-right'
                        type='text'
                        disabled=true
                        value=jpyValue
                        placehodler='JPY'}}
                <span class="icon is-left">
                  {{fa-icon 'jpy'}}
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-8">
        {{outlet}}
      </div>
    </div>
  </div>
</section>

