{{partial 'partials/hero-article-search'}}

<section class="section is-small">
  <div class="container">
    <div class="columns">
      <div class="column is-3 is-hidden-mobile">

        <!-- Merchant panel -->
        <nav class="panel">
          <p class="panel-heading">
            <span class="icon">{{ui/-icon 'business'}}</span>
            <span>Merchants</span>
          </p>
          <p class="panel-tabs"></p>
          {{#each (sort-by 'name' merchants) as |merchant|}}
            {{#link-to 'merchant.merchant-index' merchant.id class='panel-block'}}
              <div class="media is-fullwidth">
                <div class="media-left is-capitalized">
                  {{merchant.name}}
                </div>
                <div class="media-content"></div>
                <div class="media-right">
                  <div class="tags has-addons">
                    <span class="tag">{{merchant.id}}</span>
                    <span class="tag is-dark">{{merchant.totalArticlesCount}}</span>
                  </div>
                </div>
              </div>
            {{/link-to}}
          {{/each}}
        </nav>

        <!-- Currency calculator -->
        <div class="columns">
          <div class="column is-12">
            <div class="field is-grouped">
              <p class="control is-expanded has-icons-left">
                {{input class='input has-text-right'
                        type='text'
                        value=cadValue
                        placehodler='CAD'}}
                <span class="icon is-left is-small">
                  {{fa-icon 'dollar'}}
                </span>
              </p>

              <p class="control">
                <a disabled class="button is-light">
                <span class="icon">
                  {{fa-icon 'exchange'}}
                </span>
                </a>
              </p>

              <p class="control is-expanded has-icons-left">
                {{input class='input is-success has-text-right'
                        type='text'
                        disabled=true
                        value=jpyValue
                        placehodler='JPY'}}
                <span class="icon is-left is-small">
                  {{fa-icon 'jpy'}}
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-9">
        {{outlet}}
      </div>
    </div>
  </div>
</section>
