<section class="hero is-small is-bold is-dark is-hidden-mobile">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-10 is-offset-1">

        <div class="field has-addons">
          <!--<span class="select is-large">-->
            {{!--{{ui.form.ember-select content=merchants-->
                                   <!--optionValuePath='id'-->
                                   <!--optionLabelPath='name'}}--}}
          <!--</span>-->
          <div class="control is-expanded">
            {{input list="articles" class="input is-medium"
                    type="text"
                    placeholder="Item description or sku..."
                    enter='_searchArticles'}}

            <datalist id="articles">
              {{#each searchArticles as |articleAutocomplete|}}
                <option value="{{{articleAutocomplete.autocomplete}}}">
                  {{articleAutocomplete.id}}
                </option>
              {{/each}}
            </datalist>
          </div>
          <div class="control">
            <a class="button is-medium is-primary">
              <span class="icon">{{fa-icon 'search'}}</span>
              <span>Find</span>
            </a>
          </div>
        </div>

        <h6 class="subtitle is-6">
          <ul>
            <li>Hint: Auto-complete is available</li>
            <li>Hint: 'zar:&lt;query&gt;' will limit search to Zara</li>
          </ul>
        </h6>

      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-4">

        <!-- Merchant panel -->
        <nav class="panel">
          <p class="panel-heading">Merchants</p>
          <p class="panel-tabs"></p>
          {{#each merchants as |merchant|}}
            {{#link-to 'merchant' merchant.id class='panel-block'}}
              <span class="panel-icon">
                {{fa-icon 'shopping-bag'}}
              </span>
              <div class="media is-fullwidth">
                <div class="media-left">
                  {{capitalize merchant.name}}
                </div>
                <div class="media-content"></div>
                <div class="media-right">
                  <span class="tag is-success">
                    {{merchant.id}}:{{merchant.totalArticlesCount}}
                  </span>
                </div>
              </div>
            {{/link-to}}
          {{/each}}
        </nav>

        <!-- Currency calculator -->
        <div class="columns">
          <p class="help is-success">Look, this is green</p>
        </div>
        <div class="columns is-mobile">
          <div class="column is-5">
            <div class="field is-grouped">
              <p class="control is-expanded has-icons-left">
                {{input class='input is-medium has-text-right'
                        type='text'
                        value=cadValue
                        placehodler='CAD'}}
                <span class="icon is-medium is-left">
                  {{fa-icon 'dollar'}}
                </span>
              </p>
            </div>
          </div>
          <div class="column is-2 has-text-centered">
            <p class="field">
              <a href="" disabled class="button is-medium is-light">
                <span class="icon is-medium">
                  {{fa-icon 'exchange'}}
                </span>
              </a>
            </p>
          </div>
          <div class="column is-5">
            <div class="field is-grouped">
              <p class="control is-expanded has-icons-left">
                {{input class='input is-medium is-success has-text-right'
                        type='text'
                        disabled=true
                        value=jpyValue
                        placehodler='JPY'}}
                <span class="icon is-medium is-left">
                  {{fa-icon 'jpy'}}
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-8">
        {{outlet}}
      </div>
    </div>
  </div>
</section>

