{{#ui/b/resp/-hero style='dark'}}
  Notifications
{{/ui/b/resp/-hero}}

<section class="section is-small">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
      </div>

      <div class="column is-8">
        <div class="columns">
          <div class="column">
            {{#each sortedArticleNotifieds as |articleNotified|}}
              <div class="{{if articleNotified.isRead 'is-read'}} box notification-message padding-one-half is-border-radius-2">
                <article class="media">
                  {{#if articleNotified.isRead}}
                    <div class="media-left">
                      <button disabled class="button is-white is-small">
                        <span class="icon is-small">
                          {{fa-icon 'check'}}
                        </span>
                      </button>
                    </div>

                    <div class="media-content">
                      <div class="content">
                        <div>
                          {{articleNotified.article.name}}
                          <small class="is-capitalized is-underline-dashed">
                            {{moment-from-now articleNotified.createdAt}}
                          </small>
                        </div>
                        <div>
                          <span class="capitalize is-underline-dashed">
                            <small>
                              Read {{moment-from-now articleNotified.readAt}}
                            </small>
                          </span>
                        </div>
                        <div>
                          {{#each articleNotified.notificationCriteria as |notificationCriterium|}}
                            <span class="tag is-dark is-small">
                              {{notificationCriterium.name}}
                            </span>
                          {{/each}}
                        </div>
                      </div>
                    </div>
                  {{else}}
                    <div class="media-left">
                      {{#ui/form/-async-button class='button is-warning is-small'
                                               action=(action '_readArticleNotified' articleNotified)}}
                        <span class="icon is-small">
                          {{fa-icon 'check'}}
                        </span>
                      {{/ui/form/-async-button}}
                    </div>
                    <div class="media-content">
                      <p>
                        <strong>{{articleNotified.article.name}}</strong>
                        <small class="is-capitalized is-underline-dashed">
                          {{moment-from-now articleNotified.createdAt}}
                        </small>
                      </p>
                      <nav class="level is-mobile">
                        <div class="level-left">
                          {{#each articleNotified.notificationCriteria as |notificationCriterium|}}
                            <div class="level-item">
                              <span class="tag is-info is-small">
                                {{notificationCriterium.name}}
                              </span>
                            </div>
                          {{/each}}
                        </div>
                      </nav>
                    </div>
                  {{/if}}
                  <div class="media-right">
                    <div class="content">
                      {{#link-to 'articles.article' articleNotified.article.id class='level-item button is-small'}}
                        <span>View Article</span>
                        <span class="icon is-small">
                          {{fa-icon 'mail-forward'}}
                        </span>
                      {{/link-to}}
                    </div>
                  </div>
                </article>
              </div>
            {{else}}
              <article class="message">
                <div class="message-body">
                  <nav class="level">
                    <div class="level-item has-text-centered">
                      <div>
                        <span class="icon is-large">
                          {{ui/-icon 'drafts'}}
                        </span>
                        <p class="title is-4">No notifications.</p>
                      </div>
                    </div>
                  </nav>
                </div>
              </article>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
